﻿@model UltimoApps.Models.Custom.RoleModel
@using UltimoApps.DAL.Membership
@using UltimoApps.DAL

@{ 
    var tempURL = Request.FilePath;
    var currentURL = tempURL.Substring(1, tempURL.Length - 1);
}
<div class="modal fade" id="modal-form-update">

    <div class="modal-dialog modal-lg" role="document">

        <div class="modal-content">

            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                    <span aria-hidden="true">&times;</span>

                    <span class="sr-only">Close</span>

                </button>

                <h4 class="modal-title uppercase">NEW / EDIT ROLES</h4>

            </div>

            @{

                if (Sc_RolePermission.IsHasPermission("btn_edit", currentURL))
                {
                    <div class="modal-body clearfix">
                    @using (Ajax.BeginForm("UpdateRole", "Roles", new { url = Request.RawUrl.Replace("/", "") }, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "divResult", OnBegin = "ViewBegin", OnFailure = "ViewError", OnSuccess = "ViewSuccess" }, new { @class = "form-horizontal" }))
                    {
                        
                        @Html.HiddenFor(model => model.ListMenuID, new { @id = "hf-list-menu-update" })
                        @Html.HiddenFor(model => model.ListControlID, new { @id = "hf-list-control-update" })

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.RoleID, new { @class = "col-sm-4 control-label" })
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(model => model.RoleID, new { @class = "form-control", @readonly = "true" })
                                        @Html.ValidationMessageFor(model => model.RoleID)
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Role, new { @class = "col-sm-4 control-label" })
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(model => model.Role, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Role)
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.BizSourceID, new { @class = "col-sm-4 control-label" })
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(model => model.BizSourceID, new { @class = "form-control txtBizSource", @id = "txtBizSourceUpdate", @style = "width:100%;" })
                                        @Html.ValidationMessageFor(model => model.BizSourceID)
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Description, new { @class = "col-sm-4 control-label" })
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Description)
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <br />
                                <br />
                                <div class="form-group">
                                    @Html.LabelFor(model => model.AreaID, new { @class = "col-sm-4 control-label" })
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(model => model.AreaID, new { @class = "form-control txtAreaID", @id = "txtAreaIDUpdate", @style = "width:100%;" })
                                        @Html.ValidationMessageFor(model => model.AreaID)
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.RoleType, new { @class = "col-sm-4 control-label" })
                                    <div class="col-sm-8">
                                        <div class="col-sm-6">
                                            @Html.RadioButtonFor(model => model.RoleType, "INT", new { GroupName = "RoleType", @class = "col-sm-3", @id = "rbINT" })@Html.Label("Internal")
                                        </div>
                                        <div class="col-sm-6">
                                            @Html.RadioButtonFor(model => model.RoleType, "EXT", new { GroupName = "RoleType", @class = "col-sm-3", @id = "rbEXT" })@Html.Label("External")
                                        </div>

                                        @Html.ValidationMessageFor(model => model.RoleType)
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.IsActive, new { @class = "col-sm-4 control-label" })
                                    @Html.HiddenFor(Model => Model.IsActive)
                                    <div class="col-sm-8">
                                        <i id="status-is-active" class="btn-change-active btn-change-active fa"></i>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="body">
                            <ul class="nav nav-tabs tab-nav-right" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#menu_relation_update" data-toggle="tab">Menu Relation
                                    </a>

                                </li>
                            </ul>



                            <!-- Tab panes -->

                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="menu_relation_update">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div id="grid-menu-update" class="grid-menu">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div id="lbl-form-title-update" class="bg-gray pt-10 mt-10 pl-10 pb-10">
                                                    </div>
                                                    <div id="grid-ctrl-update">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="col-sm-12 text-right">
                                <button type="submit" class="btn bg-black uppercase" data-dismiss="modal" aria-label="Close">close</button>
                                <button id="btnUpdate" type="submit" class="btn btn-success uppercase">Save</button>
                            </div>
                        </div>  
                         
                        
                    }

                </div>
                }
                else
                {
                <p class="permission-notif">@Global.AccessMessage</p>
                }
                
            }

            <!-- /.modal-content -->

        </div>

        <!-- /.modal-dialog -->

    </div>

    <!-- /.modal -->
</div>







<div class="modal fade" id="modal-form">

    <div class="modal-dialog modal-lg" role="document">

        <div class="modal-content">

            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                    <span aria-hidden="true">&times;</span>

                    <span class="sr-only">Close</span>

                </button>

                <h4 class="modal-title uppercase">NEW / EDIT ROLES</h4>

            </div>

            @{
               

                if (Sc_RolePermission.IsHasPermission("btn_create", currentURL))
                {
                <div class="modal-body clearfix">
                    @using (Ajax.BeginForm("InsertRole", "Roles", new { url = Request.RawUrl.Replace("/", "") }, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "divResult", OnBegin = "ViewBegin", OnFailure = "ViewError", OnSuccess = "ViewSuccess" }, new { @class = "form-horizontal" }))
                    {
                        @Html.HiddenFor(model => model.ListMenuID, new { @id = "hf-list-menu" })
                        @Html.HiddenFor(model => model.ListControlID, new { @id = "hf-list-control" })
                        
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.RoleID, new { @class = "col-sm-4 control-label" })
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(model => model.RoleID, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.RoleID)
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Role, new { @class = "col-sm-4 control-label" })
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(model => model.Role, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Role)
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.BizSourceID, new { @class = "col-sm-4 control-label" })
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(model => model.BizSourceID, new { @class = "form-control txtBizSource", @id = "txtBizSource-new", @style = "width:100%;" })
                                        @Html.ValidationMessageFor(model => model.BizSourceID)
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Description, new { @class = "col-sm-4 control-label" })
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Description)
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <br />
                                <br />
                                <div class="form-group">
                                    @Html.LabelFor(model => model.AreaID, new { @class = "col-sm-4 control-label" })
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(model => model.AreaID, new { @class = "form-control txtAreaID", @id = "txtAreaID-new", @style = "width:100%;" })
                                        @Html.ValidationMessageFor(model => model.AreaID)
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.RoleType, new { @class = "col-sm-4 control-label" })
                                    <div class="col-sm-8">
                                        <div class="col-sm-6">
                                            @Html.RadioButtonFor(model => model.RoleType, "INT", new { GroupName = "RoleType", @class = "col-sm-3", @id = "rbINT" })@Html.Label("Internal")
                                        </div>
                                        <div class="col-sm-6">
                                            @Html.RadioButtonFor(model => model.RoleType, "EXT", new { GroupName = "RoleType", @class = "col-sm-3", @id = "rbEXT" })@Html.Label("External")
                                        </div>
                                        @Html.ValidationMessageFor(model => model.RoleType)
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.HiddenFor(model => model.IsActive, new {@id="IsActive-new"})
                                    @Html.LabelFor(model => model.IsActive, new { @class = "col-sm-4 control-label" })
                                    <div class="col-sm-8">
                                        <i class="btn-change-active fa fa-check-circle-o status-active"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="body">
                            <ul class="nav nav-tabs tab-nav-right" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#menu_relation" data-toggle="tab">Menu Relation
                                    </a>

                                </li>

                                @*<li role="presentation">

                                    <a href="#control_relation" data-toggle="tab">Form Control Relation

                                    </a>

                                </li>*@
                            </ul>
                            <!-- Tab panes -->

                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="menu_relation">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div id="grid-menu">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div id="lbl-form-title" class="bg-gray pt-10 mt-10 pl-10 pb-10">
                                                    </div>
                                                    <div id="grid-ctrl">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                </div>
                             
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="col-sm-12 text-right">
                                <button type="submit" class="btn bg-black uppercase" data-dismiss="modal" aria-label="Close">close</button>
                                <button id="btnSave" type="submit" class="btn btn-success uppercase">Save</button>
                            </div>
                        </div>  
                    }

                </div>       
                }
                else
                {
                <p class="permission-notif">@Global.AccessMessage</p>
                }
            }

            <!-- /.modal-content -->

        </div>

        <!-- /.modal-dialog -->

    </div>

    <!-- /.modal -->
</div>
