﻿@model UltimoApps.Models.UserRoleModel
@using UltimoApps.DAL.Membership
@using UltimoApps.DAL

@{
    var tempURL = Request.FilePath;
    var currentURL = tempURL.Substring(1, tempURL.Length - 1);

}

<div class="modal fade" id="modal-form">

    <div class="modal-dialog modal-lg" role="document">

        <div class="modal-content">

            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                    <span aria-hidden="true">&times;</span>

                    <span class="sr-only">Close</span>

                </button>

                <h4 class="modal-title uppercase">EDIT USER PERMISSION</h4>

            </div>



            @{
                if (Sc_RolePermission.IsHasPermission("btn_edit", currentURL))
                {
                    using (Ajax.BeginForm("updateUserList", "UserRole", new { url = Request.RawUrl.Replace("/", "") }, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "divResult", OnBegin = "ViewBegin", OnFailure = "ViewError", OnSuccess = "ViewSuccess" }, new { @class = "form-horizontal" }))
                    {
                       @Html.HiddenFor(Model => Model.ListRolesID);
                <div class="modal-body">
                    @Html.ValidationSummary(true)
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.UserID, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.UserID, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.UserID)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.UserName, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.UserName)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Company", new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.CompID, new { @class = "ddl-comp form-control" })
                                    @Html.ValidationMessageFor(model => model.CompID)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.FirstName, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.FirstName)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.LastName, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.LastName)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Gender, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    <div class="col-sm-4">
                                        @Html.RadioButtonFor(model => model.Gender, "M", new { GroupName = "GenderType", @class = "col-sm-2 radio", @id = "rbGenderM" }) @Html.Label("Male")
                                    </div>
                                    <div class="col-sm-4">
                                        @Html.RadioButtonFor(model => model.Gender, "F", new { GroupName = "GenderType", @class = "col-sm-2 radio", @id = "rbGenderF" }) @Html.Label("Female")
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.BirthDate, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.BirthDate, new { @class = "form-control datepicker" })
                                    @Html.ValidationMessageFor(model => model.BirthDate)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Division, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.Division, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Division)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.JobPosition, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.JobPosition, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.JobPosition)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.WorkPhone, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.WorkPhone, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.WorkPhone)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.WorkPhoneExt, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.WorkPhoneExt, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.WorkPhoneExt)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.PhoneNo, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.PhoneNo, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.PhoneNo)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.MobileNo, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.MobileNo, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.MobileNo)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.SecMobileNo, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.SecMobileNo, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.SecMobileNo)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.CorpEmail, new { @class = "col-sm-4 control-label", @readonly = "readonly" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.CorpEmail, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.CorpEmail)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.PersonalEmail, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.PersonalEmail, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.PersonalEmail)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.HiddenFor(model => model.IsActive)
                                @Html.LabelFor(model => model.IsActive, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    <i id="status-is-active" class="fa status-active btn-change-active"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            
                           
                            <div class="row">
                                @Html.Label("User Roles", new { @class = "col-sm-4 control-label" })<br />
                            </div>
                            <div class="grid-roles"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-sm-12 text-right">
                        <button type="submit" class="btn bg-black uppercase" data-dismiss="modal" aria-label="Close">close</button>
                        <button id="btnSave" type="submit" class="btn btn-success uppercase">Save</button>
                    </div>
                </div>                              
                    }
                    
                <div class="modal-footer">
                    <div class="col-sm-12 text-right">@Html.Partial("/Views/Partials/Partial_User_ResetPassword.cshtml")
                    </div>
                </div>       
                            
                }
                else
                {
                @Global.AccessMessage
                }
            }

        </div>
        <!-- /.modal-content -->

    </div>
    <!-- /.modal-dialog -->

</div>
<!-- /.modal -->

<div class="modal fade" id="modal-form-new">

    <div class="modal-dialog modal-lg" role="document">

        <div class="modal-content">

            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                    <span aria-hidden="true">&times;</span>

                    <span class="sr-only">Close</span>

                </button>

                <h4 class="modal-title uppercase">NEW USER PERMISSION</h4>

            </div>

            @{
                if (Sc_RolePermission.IsHasPermission("btn_create", currentURL))
                {
                    using (Ajax.BeginForm("newUserList", "UserRole", new { url = Request.RawUrl.Replace("/", "") }, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "divResult", OnBegin = "ViewBegin", OnFailure = "ViewError", OnSuccess = "ViewSuccess" }, new { @class = "form-horizontal" }))
                    {
                <div class="modal-body">
                    @Html.ValidationSummary(true)
                    <div class="row">
                        <div class="col-sm-6">
                            @Html.HiddenFor(model => model.UserID, new { @value = 99 })
                            @Html.HiddenFor(Model => Model.ListRolesID, new { @id = "ListRolesID-new" })
                            @*<div class="form-group">
                                @Html.LabelFor(model => model.UserID, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.UserID, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.UserID)
                                </div>
                            </div>*@
                            <div class="form-group">
                                @Html.LabelFor(model => model.UserName, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.UserName)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Company", new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.CompID, new { @class = "ddl-comp form-control" })
                                    @Html.ValidationMessageFor(model => model.CompID)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.FirstName, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.FirstName)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.LastName, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.LastName)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Gender, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    <div class="col-sm-4">
                                        @Html.RadioButtonFor(model => model.Gender, "M", new { GroupName = "GenderType", @class = "col-sm-2 radio", @id = "rbGenderM" }) @Html.Label("Male")
                                    </div>
                                    <div class="col-sm-4">
                                        @Html.RadioButtonFor(model => model.Gender, "F", new { GroupName = "GenderType", @class = "col-sm-2 radio", @id = "rbGenderF" }) @Html.Label("Female")
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.BirthDate, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.BirthDate, new { @class = "form-control datepicker" })
                                    @Html.ValidationMessageFor(model => model.BirthDate)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Division, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.Division, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Division)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.JobPosition, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.JobPosition, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.JobPosition)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.WorkPhone, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.WorkPhone, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.WorkPhone)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.WorkPhoneExt, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.WorkPhoneExt, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.WorkPhoneExt)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.PhoneNo, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.PhoneNo, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.PhoneNo)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.MobileNo, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.MobileNo, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.MobileNo)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.SecMobileNo, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.SecMobileNo, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.SecMobileNo)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.CorpEmail, new { @class = "col-sm-4 control-label", @readonly = "readonly" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.CorpEmail, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.CorpEmail)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.PersonalEmail, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.PersonalEmail, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.PersonalEmail)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.HiddenFor(model => model.IsActive, new { @value = true })
                                @Html.LabelFor(model => model.IsActive, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    <i class="fa status-active fa-check-circle-o"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                @Html.Label("User Roles", new { @class = "col-sm-4 control-label" })<br />
                            </div>
                            <div class="grid-roles-new"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-sm-12 text-right">
                        <button type="submit" class="btn bg-black uppercase" data-dismiss="modal" aria-label="Close">close</button>
                        <button id="btnSave-new" type="submit" class="btn btn-success uppercase">Save</button>
                    </div>
                </div>                              
                    }
                }
                else
                {
                @Global.AccessMessage
                }
            }
        </div>
        <!-- /.modal-content -->

    </div>
    <!-- /.modal-dialog -->

</div>
<!-- /.modal -->
