﻿@model UltimoApps.Models.Custom.ChangePasswordModel
@using UltimoApps.DAL.Membership;

@{
    Model.UserID = mpMembership.GetCurrentUser().UserID;
}


<div class="modal fade" id="change-pass">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @using (Ajax.BeginForm("ChangePassword", "Profile", new { url = Request.RawUrl.Replace("/", "") }, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "divResult", OnBegin = "ViewBegin", OnFailure = "ViewError", OnSuccess = "ViewSuccess" }, new { @class = "form-horizontal" }))
            {
                
                @Html.HiddenFor(model => model.UserID)
                @Html.ValidationMessageFor(model => model.UserID)
                
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title uppercase">Change Password</h4>
                </div>
                <div class="modal-body clearfix">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">Old Password</label>
                                <div class="col-sm-8">
                                    
                                        @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.OldPassword)
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">New Password</label>
                                <div class="col-sm-8">
                                    
                                    @Html.PasswordFor(model => model.Password, new { @class = "form-control",@id="userPass" })
                                    @Html.ValidationMessageFor(model => model.Password)

                                    <label>Password strength</label>
                                    <div id="passStrength" style="width: 100%;"></div>
                                    <br>
                                    <br>
                                    <p class="alert alert-warning">
                                        Tips for good password. Use both uupercase and lowercase characters. Include at least one symbol (# $ ! % & etc..). Dont use dictionary words.

                                    </p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">Confirm Password</label>
                                <div class="col-sm-8">
                                    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success uppercase">Save</button>
                    <button type="button" class="btn bg-black uppercase" data-dismiss="modal" aria-label="Close">close</button>
                </div>
            }
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
