﻿@model UltimoApps.Models.TransactionDetailModel

@using UltimoApps.DAL

@{ 
    var tempURL = Request.FilePath;
    var currentURL = tempURL.Substring(1, tempURL.Length - 1);
}
<div class="modal fade" id="modal-transaction-details">

    <div class="modal-dialog modal-lg" role="document">

        <div class="modal-content" style="width: 1000px; height: 900px">

            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                    <span aria-hidden="true">&times;</span>

                    <span class="sr-only">Close</span>

                </button>

                <h4 class="modal-title uppercase">Transaction Details</h4>

            </div>



            @using (Ajax.BeginForm("TransactionDetails", "JobVerification", new { url = Request.RawUrl.Replace("/", "") }, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "divResult", OnBegin = "ViewBegin", OnFailure = "ViewError", OnSuccess = "ViewSuccess" }, new { @class = "form-horizontal" }))
            {
                        
                <div class="modal-body clearfix">
                    @Html.HiddenFor(model => model._oper_num, new { @id = "hf-list-menu-update" })
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="" class="col-sm-2 control-label">Job No :</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model._job, new { @class = "form-control", @readonly = "readonly", @id = "Par1txtJobNo" })
                                    @*@Html.ValidationMessageFor(model => model._job)*@
                                </div>
                                <label for="" class="col-sm-2 control-label">Received :</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model._qty_op_qty, new { @class = "form-control", @readonly = "readonly", @id = "Par1txtReceived" })
                                    @*@Html.ValidationMessageFor(model => model._jobsuffix)*@
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-2 control-label">Item No :</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model._item, new { @class = "form-control", @readonly = "readonly", @id = "Par1txtItem" })
                                    @*@Html.ValidationMessageFor(model => model._qtyReleased)*@
                                </div>
                                <label for="" class="col-sm-2 control-label">Completed :</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model._qty_complete, new { @class = "form-control", @readonly = "readonly", @id = "Par1txtCompleted" })
                                    @*@Html.ValidationMessageFor(model => model._wc)*@
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-2 control-label">Qty Released :</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model._qty_Rele_qty, new { @class = "form-control", @readonly = "readonly", @id = "Par1txtReleased" })
                                    @*@Html.ValidationMessageFor(model => model._wc)*@
                                </div>
                                <label for="" class="col-sm-2 control-label">Rejected :</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model._qty_scrapped, new { @class = "form-control", @readonly = "readonly", @id = "Par1txtRejected" })
                                    @*@Html.ValidationMessageFor(model => model._wc)*@
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-2 control-label">Job Date :</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model._jobDate, new { @class = "form-control", @readonly = "readonly", @id = "Par1txtJobDate" })
                                    @*@Html.ValidationMessageFor(model => model._wc)*@
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-2 control-label">Operation No. :</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model._oper_num, new { @class = "form-control", @readonly = "readonly", @id = "Par1txtOperNum" })
                                    @*@Html.ValidationMessageFor(model => model._wc)*@
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-2 control-label">Work Center :</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model._wc, new { @class = "form-control", @readonly = "readonly", @id = "Par1txtWC" })
                                    @*@Html.ValidationMessageFor(model => model._wc)*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="grid-transaction-details"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="display: none;">
                    <div class="col-sm-12 text-right">
                        <button type="submit" class="btn bg-black uppercase" data-dismiss="modal" aria-label="Close" style="margin-right: 800px">close</button>
                        <button id="btnUpdate" type="submit" class="btn btn-success uppercase" style="display: none;">Save</button>
                    </div>
                </div>
                
            }



            <!-- /.modal-content -->

        </div>

        <!-- /.modal-dialog -->

    </div>

    <!-- /.modal -->
</div>
