@model UltimoApps.Models.OperationDetailModel

@using UltimoApps.DAL

@{ 
    var tempURL = Request.FilePath;
    var currentURL = tempURL.Substring(1, tempURL.Length - 1);
}
<div class="modal fade" id="modal-operation-details">

    <div class="modal-dialog modal-lg" role="document">

        <div class="modal-content">

            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                    <span aria-hidden="true">&times;</span>

                    <span class="sr-only">Close</span>

                </button>

                <h4 class="modal-title uppercase">Operation Details</h4>

            </div>



            @using (Ajax.BeginForm("DetailsOperations", "JobVerification", new { url = Request.RawUrl.Replace("/", "") }, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "divResult", OnBegin = "ViewBegin", OnFailure = "ViewError", OnSuccess = "ViewSuccess" }, new { @class = "form-horizontal" }))
            {
                        
                <div class="modal-body clearfix">
                    @Html.HiddenFor(model => model._job, new { @id = "hf-list-menu-update" })
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="" class="col-sm-2 control-label">Job No :</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model._job, new { @class = "form-control", @readonly = "readonly", @id = "PartxtJobNo" })
                                    @*@Html.ValidationMessageFor(model => model._job)*@
                                </div>
                                <label for="" class="col-sm-2 control-label">Received :</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.received, new { @class = "form-control", @readonly = "readonly", @id = "PartxtReceived" })
                                    @*@Html.ValidationMessageFor(model => model._jobsuffix)*@
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-2 control-label">Item No :</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model._item, new { @class = "form-control", @readonly = "readonly", @id = "PartxtItem" })
                                    @*@Html.ValidationMessageFor(model => model._qtyReleased)*@
                                </div>
                                <label for="" class="col-sm-2 control-label">Completed :</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model._qtyCompleted, new { @class = "form-control", @readonly = "readonly", @id = "PartxtCompleted" })
                                    @*@Html.ValidationMessageFor(model => model._wc)*@
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-2 control-label">Qty Released :</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model._qtyReleased, new { @class = "form-control", @readonly = "readonly", @id = "PartxtReleased" })
                                    @*@Html.ValidationMessageFor(model => model._wc)*@
                                </div>
                                <label for="" class="col-sm-2 control-label">Rejected :</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model._qtyScrapped, new { @class = "form-control", @readonly = "readonly", @id = "PartxtRejected" })
                                    @*@Html.ValidationMessageFor(model => model._wc)*@
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-2 control-label">Job Date :</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model._jobDate, new { @class = "form-control", @readonly = "readonly", @id = "PartxtJobDate" })
                                    @*@Html.ValidationMessageFor(model => model._wc)*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="grid-operation-details"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="display: none;">
                    <div class="col-sm-12 text-right">
                        <button type="submit" class="btn bg-black uppercase" data-dismiss="modal" aria-label="Close" style="margin-right: 800px">close</button>
                        <button id="btnUpdate" type="submit" class="btn btn-success uppercase" style="display: none;">Save</button>
                    </div>
                </div>
                
            }



            <!-- /.modal-content -->

        </div>

        <!-- /.modal-dialog -->

    </div>

    <!-- /.modal -->
</div>
@Html.Partial("/Views/Partials/Partial_Transaction_Details.cshtml")
