﻿

@{
    ViewBag.Title = "ecn_Clinics.cshtml";
    Layout = "~/Views/Master.cshtml";
}

@section css{

}

@section js{
     
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        
    </div>
</body>
</html>
