﻿@{
    ViewBag.Title = "Frm_FinalYield";
    Layout = "~/Views/Master.cshtml";
}

@model UltimoApps.Models.Grouping_WorkCenterModel

@section css{

}

@section js{
    <script src="/dist/js/ajax/jquery.validate.min.js"></script>
    <script src="/dist/js/ajax/jquery.unobtrusive-ajax.min.js"></script>
    <script src="/dist/js/ajax/jquery.validate.unobtrusive.min.js"></script>
    <script src="/dist/js/ajax/jquery.table2excel.min.js"></script>

    <script src="/dist/js/loading/loadingoverlay.min.js"></script>
    <script src="/dist/js/alert/sweetalert.min.js"></script>

    <script src="/dist/js/localStorage.js"></script>
    <script src="/dist/js/finalYield.js"></script>
    <script>
        $("#txtFromDate").kendoDatePicker({
            start: "day",
            depth: "day",
            format: "dd/MM/yyyy"
        });
    </script>
    <script>
        $("#txtToDate").kendoDatePicker({
            start: "day",
            depth: "day",
            format: "dd/MM/yyyy"
        });
    </script>
}

<!-- Content Header (Page header) -->
<section class="content-header hidden">
    <h1>Page Header
          <small>Final Yield</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Level</a></li>
        <li class="active">Here</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box">
                <div class="box-header ptb-10 with-border mb-10">
                    <h3 class="text-uppercase">Final Yield</h3>
                </div>

                @using (Ajax.BeginForm("PrintFinalYield", "FinalYield", new { url = Request.RawUrl.Replace("/", "") }, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, OnBegin = "ViewBegin", OnFailure = "ViewError", OnSuccess = "ViewSuccess" }, new { @class = "form-horizontal" }))
                {
                    <div class="box-body">
                        @Html.HiddenFor(model => model._rid, new { @id = "hfRID" })
                        @Html.HiddenFor(model => model.listWorkCenter, new { @id = "listWorkCenter" })
                        <div class="row">
                            <div class="form-group" style="text-align: right">
                                <div class="col-sm-2"></div>
                                <label for="" class="col-sm-2">Completed Date From</label>
                                <div class="col-sm-2">
                                    @Html.TextBox("txtFromDate", DateTime.Now.ToString("yyyy-MM-dd"), new { @type = "date", @class = "form-control", @style = "width:100%" })
                                </div>
                                <label for="" class="col-sm-1" style="text-align:center">To</label>
                                <div class="col-sm-2">
                                    @Html.TextBox("txtToDate", DateTime.Now.ToString("yyyy-MM-dd"), new { @type = "date", @class = "form-control", @style = "width:100%" })
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6" style="display: none;">
                            <div class="form-group">
                                @Html.Label("ResourceGroupID", "Resource Group ID", new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.HiddenFor(model => model._rGroupID, new { @id = "hfGroupID" })
                                    @Html.HiddenFor(model => model._rGroupName, new { @id = "hfGroupName" })
                                    @Html.TextBox("txtTempResouce", "", new { @class = "form-control", @id = "txtResourceID", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6" style="display: none;">
                            <div class="form-group">
                                @Html.Label("ResourceGroupDesc", "Resource Group Desc", new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.TextBox("txtResourceDesc", "", new { @class = "form-control", @id = "txtResourceDesc", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-left: 90px">
                            <div class="col-sm-3" style="display: none;">
                                <div id="grid-resource"></div>
                            </div>
                            <div class="col-sm-5">
                                <div id="grid-available-work"></div>
                            </div>
                            <div class="col-sm-1">
                                <div class="row" style="text-align: center;">
                                    <div class="row">
                                        <button id="button-right" class="btn bg-black" type="button" style="width: 53px; margin: 5px;">></button>
                                    </div>
                                    <div class="row">
                                        <button id="button-all-right" class="btn bg-black" type="button" style="width: 53px; margin: 5px;">>></button>
                                    </div>
                                    <div class="row">
                                        <button id="button-left" class="btn bg-black" type="button" style="width: 53px; margin: 5px;"><</button>
                                    </div>
                                    <div class="row">
                                        <button id="button-all-left" class="btn bg-black" type="button" style="width: 53px; margin: 5px;"><<</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div id="grid-allocated-work"></div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="form-group" style="margin: 10px 10px; text-align: center;">
                            <button id="btnSave" type="button" class="btn btn-success uppercase">Done</button>
                            <button id="btnCancel" type="button" class="btn bg-black uppercase ">Cancel</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
