﻿@using UltimoApps.DAL;

@model UltimoApps.DAL.Sc_User

@{
    ViewBag.Title = "Edit Profile";
    Layout = "~/Views/Master.cshtml";
}

@section css{

}

@section js{
    <script src="/dist/js/ajax/jquery.validate.min.js"></script>
    <script src="/dist/js/ajax/jquery.unobtrusive-ajax.min.js"></script>
    <script src="/dist/js/ajax/jquery.validate.unobtrusive.min.js"></script>
    <script src="/dist/js/ajax/jquery.table2excel.min.js"></script>
    
    <script src="/dist/js/loading/loadingoverlay.min.js"></script>
    <script src="/dist/js/alert/sweetalert.min.js"></script>

    <script src="/dist/js/profile.js"></script>

}

<section class="content-header hidden">
    <h1>Page Header
          <small>DASHBOARD</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Level</a></li>
        <li class="active">Here</li>
    </ol>
</section>



<!-- Main content -->
<section class="content">

    <!-- Your Page Content Here -->
    <div class="row">
        <div class="col-sm-12">
            <div class="box">
                <div class="box-header uppercase border-bottom pb-10 mb-10">
                    <h4>Profile</h4>
                </div>
                <div class="box-body">
                    <div class="row">
                       
                        

                        @Html.Partial("/Views/Partials/Partial_Profile_Edit.cshtml", UltimoApps.DAL.Membership.mpMembership.GetCurrentUser())
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- /.content -->


@Html.Partial("/Views/Partials/Partial_User_ChangePassword.cshtml", new  UltimoApps.Models.Custom.ChangePasswordModel())
