﻿@model UltimoApps.DAL.tbItem

@{
    ViewBag.Title = "Item";
    Layout = "~/Views/Master.cshtml";
}

@section css{
    <link href="/dist/js/alert/sweetalert.css" rel="stylesheet" />
}

@section js{
    <script src="/dist/js/ajax/jquery.validate.min.js"></script>
    <script src="/dist/js/ajax/jquery.unobtrusive-ajax.min.js"></script>
    <script src="/dist/js/ajax/jquery.validate.unobtrusive.min.js"></script>

    <script src="/dist/js/loading/loadingoverlay.min.js"></script>
    <script src="/dist/js/alert/sweetalert.min.js"></script>

    <script src="/dist/js/localStorage.js"></script>
    <script src="/dist/js/item.js"></script>
    <script src="/dist/js/ajax/jquery.table2excel.min.js"></script>
}

<!-- Content Header (Page header) -->
<section class="content-header hidden">
    <h1>Page Header
          <small>@ViewBag.Title</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Level</a></li>
        <li class="active">Here</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box">
                <div class="box-header ptb-10 with-border mb-10">
                    <h3 class="text-uppercase">@ViewBag.Title</h3>
                </div>
                <!-- Body -->
                <div class="box-body">
                    <div class="cari-table">
                        @using (Ajax.BeginForm("GetAllItemData", "Item", null, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, OnBegin = "ViewBegin", OnFailure = "ViewError", OnSuccess = "ViewSuccess" }, new { @class = "form-horizontal" }))
                        {
                            <div class="form-group">
                                <div class="col-sm-4 text-left">
                                    <button id="btnCancel" type="reset" class="btn-cancel btn bg-black">Cancel</button>
                                </div>
                            </div>
                            @Html.HiddenFor(model => model._itemid, new { @id="txtItemId"})
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Item Code</label>
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(model => model._itemCode, new{ @disabled="disabled", @class="form-control", @id="txtItemCode", @style="width: 100px"})
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Description</label>
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(model => model._itemdescription, new { @disabled="disabled", @class="form-control", @id="txtDescription", @style="width: 300px"})
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Type</label>
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(model => model._type, new { @disabled="disabled", @class="form-control", @id="txtType", @style="width: 50px"})
                                </div>
                            </div>
                        }
                    </div>
                    <div class="table-responsive">
                        <div id="grid">
                        </div>
                    </div>
                </div>

                <!-- Footer -->
                <div class="box-footer"></div>

                <div class="row" style="display: none;">
                    <div class="col-sm-6">
                    </div>
                    <div class="col-sm-3">
                        <button class="btn bg-gray">Print</button>
                        <button id="import-excel" class="btn bg-gray">To Excel</button>
                    </div>
                    <div class="col-sm-3 text-right">
                        <button class="btn-new btn bg-gray" data-toggle="modal">New</button>
                        <button class="btn-edit btn bg-gray" data-toggle="modal">Edit</button>

                        <button class="btn-delete btn bg-black">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>