﻿@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Master.cshtml";
}

@section css{
    
}

@section js{
    
}

@*<h2>Index : @Model.Menu</h2>*@
<!-- Content Header (Page header) -->
<section class="content-header hidden">
    <h1>Page Header
          <small>DASHBOARD</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Level</a></li>
        <li class="active">Here</li>
    </ol>
</section>


      <!-- Main content -->
      <section class="content" id="dasbor">

        <!-- Your Page Content Here -->

      </section>
      <!-- /.content -->