﻿@model UltimoApps.DAL.tbOperator

@{
    ViewBag.Title = "Frm_Operator";
    Layout = "~/Views/Master.cshtml";
}

@section css{
    <link href="/dist/js/alert/sweetalert.css" rel="stylesheet" />
}

@section js{
    <script src="/dist/js/ajax/jquery.validate.min.js"></script>
    <script src="/dist/js/ajax/jquery.unobtrusive-ajax.min.js"></script>
    <script src="/dist/js/ajax/jquery.validate.unobtrusive.min.js"></script>

    <script src="/dist/js/loading/loadingoverlay.min.js"></script>
    <script src="/dist/js/alert/sweetalert.min.js"></script>

    <script src="/dist/js/localStorage.js"></script>
    <script src="/dist/js/operator.js"></script>
    <script src="/dist/js/ajax/jquery.table2excel.min.js"></script>
}

<!-- Content Header (Page header) -->
<section class="content-header hidden">
    <h1>Page Header
          <small>Operator</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Level</a></li>
        <li class="active">Here</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box">


                @using (Ajax.BeginForm("processOperator", "Operator", new { url = Request.RawUrl.Replace("/", "") }, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, OnBegin = "ViewBegin", OnFailure = "ViewError", OnSuccess = "ViewSuccess" }, new { @class = "form-horizontal" }))
                {
                    <div class="box-header ptb-10 with-border mb-10">
                        <h3 class="text-uppercase">Operator</h3>
                        <div class="form-group" style="margin: 10px 10px;">
                            <button id="btnSave" type="submit" class="btn btn-success uppercase" name="command" value="saveOperator">Save</button>
                            <button id="btnUpdate" type="submit" class="btn btn-success uppercase" name="command" value="updateOperator">Update</button>
                            <button id="btnDelete" type="button" class="btn btn-danger uppercase ">Delete</button>
                            <button id="btnCancel" type="button" class="btn bg-black uppercase ">Cancel</button>
                        </div>
                        @Html.HiddenFor(model => model._oid, new { @id = "txtId" })
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.Label("OperatorID", "Operator ID", new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model._operatorID, new { @class = "form-control", @id = "txtOpID" })
                                    @Html.ValidationMessageFor(model => model._operatorID)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("OperatorName", "Operator Name", new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model._operatorName, new { @class = "form-control", @id = "txtOpName" })
                                    @Html.ValidationMessageFor(model => model._operatorName)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Authorised", "Authorised", new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    <div class="col-sm-3">
                                        @Html.HiddenFor(model => model._skip, new { @id = "_skip" })
                                        <input type="checkbox" id="cbSkip" class="k-checkbox">
                                        <label class="k-checkbox-label" for="cbSkip">Skip</label>
                                    </div>
                                    <div class="col-sm-3">
                                        @Html.HiddenFor(model => model._split, new { @id = "_split" })
                                        <input type="checkbox" id="cbSplit" class="k-checkbox">
                                        <label class="k-checkbox-label" for="cbSplit">Split</label>
                                    </div>
                                    <div class="col-sm-3">
                                        @Html.HiddenFor(model => model._print, new { @id = "_print" })
                                        <input type="checkbox" id="cbPrint" class="k-checkbox">
                                        <label class="k-checkbox-label" for="cbPrint">Print</label>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group">
                                @Html.Label("OperatorIDlabel", "OperatorID", new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-6">
                                    @Html.TextBox("searchID", "", new { @class = "form-control", @id = "txtSearchID" })
                                </div>
                                <div class="col-sm-2">
                                    @Html.Label("SearchInfoLabel", "Search", new { @class = "col-sm-4 control-label", @style = "color:red;", @id = "txtSearch" })

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div>
                        </div>
                        <div class="cari-table"></div>
                    </div>
                    <div class="table-responsive">
                        <div id="grid"></div>
                    </div>
                    <div class="box-footer">
                    </div>
                }
            </div>
        </div>
    </div>
</section>
