﻿@{
    ViewBag.Title = "Frm_Inbox";
    Layout = "~/Views/Master.cshtml";
}

@section css{

}

@section js{

}

<section class="content">
    <!-- Your Page Content Here -->

    <div class="row">

        <div class="col-sm-4">

            <div class="box">



                <div class="box-header ptb-10 with-border mb-10">

                    <h4 class="text-uppercase">Inbox

                    </h4>

                </div>



                <div class="box-body">

                    <div class="form">

                        <div class="form-group">

                            <label for="" class="control-label">Show All</label>

                            <select class="form-control" name="">

                                <option value="">category</option>

                            </select>

                        </div>



                        <div class="form-group">

                            <label for="" class="control-label">Period From</label>

                            <div class="input-group">

                                <input type="text" name="" value="" class="form-control"> <i class="fa fa-calendar input-group-addon"></i>                             

                            </div>

                        </div>



                        <div class="form-group">

                            <label for="" class="control-label">Subject Filter</label>

                            <div class="input-group">

                                <input type="text" name="" value="" class="form-control">

                                <i class="fa fa-refresh input-group-addon"></i>

                            </div>

                        </div>



                    </div>



                    <ul>

                        <li class="pr-10 mb-10 bg-gray pt-10 pb-10 pl-10">

                            <a href="#">

                                <i class="pull-right">02/01/2018</i>

                                <p>Created by: </p>

                                <p>Subject:</p>

                                <p>Description:</p>

                            </a>

                        </li>

                        <li class="pr-10 mb-10 bg-gray pt-10 pb-10 pl-10">

                            <a href="#">

                                <i class="pull-right">02/01/2018</i>

                                <p>Created by: </p>

                                <p>Subject:</p>

                                <p>Description:</p>

                            </a>

                        </li>

                    </ul>



                </div>

                <div class="box-footer">
                </div>

            </div>

        </div>



        <div class="col-sm-5">

            <div class="box">

                <div class="box-header with-border ptb-10 mb-10">

                    <h4>View Message</h4>

                </div>



                <div class="box-body">

                    <div class="form-horizontal">

                        <div class="form-group">

                            <label for="" class="control-label col-sm-4">Inbox ID</label>

                            <div class="col-sm-8">

                                <p class="form-control bg-gray">M20171100001</p>

                            </div>

                        </div>

                        <div class="form-group">

                            <label for="" class="control-label col-sm-4">Blast From</label>

                            <div class="col-sm-8">

                                <p class="form-control bg-gray">John</p>

                            </div>

                        </div>



                        <div class="form-group">

                            <label for="" class="control-label col-sm-4">Company</label>

                            <div class="col-sm-8">

                                <p class="form-control bg-gray">Prudential</p>

                            </div>

                        </div>



                        <div class="form-group">

                            <label for="" class="control-label col-sm-4">Inbox ID</label>

                            <div class="col-sm-8">

                                <p class="form-control bg-gray">11-3-2017</p>

                            </div>

                        </div>



                        <div class="form-group">

                            <label for="" class="control-label col-sm-4">Category</label>

                            <div class="col-sm-8">

                                <p class="form-control bg-gray">Facultative</p>

                            </div>

                        </div>



                        <div class="form-group">

                            <label for="" class="control-label col-sm-4">Ref Trans ID</label>

                            <div class="col-sm-8">

                                <p class="form-control bg-gray">OFR201711LCF00025</p>

                            </div>

                        </div>



                        <div class="form-group">

                            <label for="" class="control-label col-sm-4">Body</label>

                            <div class="col-sm-8">

                                <!-- <p class="form-control bg-gray">M20171100001</p> -->

                            </div>

                        </div>



                    </div>

                </div>



            </div>

        </div>



        <div class="col-sm-3">

            <div class="box">

                <div class="box-header ptb-10 with-border mb-10">

                    <h4 class="">Intended User

                    </h4>

                </div>

                <div class="box-body pt-20">

                    <p class="form-control mb-10">Betari</p>

                    <p class="form-control mb-10">Betari</p>

                    <p class="form-control mb-10">Betari</p>

                    <p class="form-control mb-10">Betari</p>

                </div>

            </div>

        </div>

    </div>
</section>

<!-- /.content -->
