﻿@{
    ViewBag.Title = "Frm_RolesPermission";
    Layout = "~/Views/Master.cshtml";
}

@section css{
    <link href="/dist/js/alert/sweetalert.css" rel="stylesheet" />
}

@section js{
    <script src="/dist/js/ajax/jquery.validate.min.js"></script>
    <script src="/dist/js/ajax/jquery.unobtrusive-ajax.min.js"></script>
    <script src="/dist/js/ajax/jquery.validate.unobtrusive.min.js"></script>
    <script src="/dist/js/ajax/jquery.table2excel.min.js"></script>

    <script src="/dist/js/loading/loadingoverlay.min.js"></script>
    <script src="/dist/js/alert/sweetalert.min.js"></script>

    <script src="/dist/js/localStorage.js"></script>
    <script src="/dist/js/sub-menu-js/roles-menu-compact.js"></script>
    <script src="/dist/js/rolesPermission.js"></script>
}


<!-- Content Header (Page header) -->
<section class="content-header hidden">
    <h1>Page Header
          <small>RolesPermissionView</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Level</a></li>
        <li class="active">Here</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box">

                <div class="box-header ptb-10 with-border mb-10">
                    <h3 class="text-uppercase">Roles Permission

                    </h3>
                </div>

                <div class="box-body">
                    <div class="cari-table">
                        <form action="" class="form-horizontal">
                            <div class="form-group">
                                <label for="" class="col-sm-2 control-label">Search By:</label>
                                <div class="col-sm-3">
                                    <select name="ddlSearch" id="ddlSearch" class="form-control">
                                        <option value=""></option>
                                        <option value="Role">Role</option>
                                        <option value="Area">Area</option>
                                        <option value="BizSource">BizSource</option>
                                        <option value="RoleType">Role Type</option>
                                        <option value="RoleDesc">Role Description</option>

                                    </select>

                                </div>
                                <div class="col-sm-5">
                                    <input id="txtSearch" type="text" class="form-control" placeholder="Cari">
                                </div>
                                <div class="col-sm-2">
                                    <button id="btnSearch" class="btn btn-success btn-block">Search</button>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="table-responsive">
                        <div id="grid"></div>
                    </div>
                </div>
                <div class="box-footer">

                    <div class="row">
                        <div class="col-sm-2">
                            Total Rec : 4

                        </div>
                        <div class="col-sm-4">
                           

                        </div>
                        <div class="col-sm-3">
                            <button class="btn bg-gray">Print</button>
                            <button id="import-excel" class="btn bg-gray">To Excel</button>
                        </div>
                        <div class="col-sm-3 text-right">
                            <button id="btn-create" class="btn bg-gray" data-toggle="modal"">New</button>
                            <button id="btn-edit" class="btn-edit btn bg-gray" data-toggle="modal" >Edit</button>

                            <button id="btn-delete" class="btn bg-black">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@Html.Partial("/Views/Partials/Partial_Roles_Edit.cshtml")