﻿@model UltimoApps.DAL.Sc_User
@{ 
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Master.cshtml";
}

@section css{

}

@section js{

}

<section class="content-header hidden">
    <h1>Page Header
          <small>DASHBOARD</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Level</a></li>
        <li class="active">Here</li>
    </ol>
</section>

<!-- Main content -->

<section class="content">



    <!-- Your Page Content Here -->

    <div class="row">

        <div class="col-sm-12">

            <div class="box">

                <div class="box-header uppercase border-bottom pb-10 mb-10">

                    <h4>Edit Profile</h4>

                </div>

                <div class="box-body">

                    <div class="row">

                        <div class="col-sm-6">



                            <form action="" class="form-horizontal">

                                <div class="form-group">

                                    <label for="" class="col-sm-4 control-label">User ID</label>

                                    <div class="col-sm-8">

                                        <input type="text" class="form-control" id="" placeholder="User ID">
                                    </div>

                                </div>

                                <div class="form-group">

                                    <label for="" class="col-sm-4 control-label">Username</label>

                                    <div class="col-sm-8">

                                        <input type="text" class="form-control" id="" placeholder="Username">
                                    </div>

                                </div>



                                <div class="form-group">

                                    <label for="" class="col-sm-4 control-label">Company Name</label>

                                    <div class="col-sm-8">

                                        <select name="" id="" class="form-control">

                                            <option value="1">Prudential</option>

                                            <option value="2">CP Name 2</option>

                                            <option value="3">CP Name 3</option>

                                        </select>

                                    </div>

                                </div>



                                <div class="form-group">

                                    <label for="" class="col-sm-4 control-label">Department</label>

                                    <div class="col-sm-8">

                                        <select name="" id="" class="form-control">

                                            <option value="0">- </option>

                                            <option value="1">Dep 1</option>

                                            <option value="2">Dep 2</option>

                                            <option value="3">Dep 3</option>

                                        </select>

                                    </div>

                                </div>



                                <div class="form-group">

                                    <label for="" class="col-sm-4 control-label">First Name</label>

                                    <div class="col-sm-8">

                                        <input type="text" class="form-control" id="" placeholder="First Name">
                                    </div>

                                </div>



                                <div class="form-group">

                                    <label for="" class="col-sm-4 control-label">Last Name</label>

                                    <div class="col-sm-8">

                                        <input type="text" class="form-control" id="" placeholder="Last Name">
                                    </div>

                                </div>



                                <div class="form-group">

                                    <label for="" class="col-sm-4 control-label">Gender</label>

                                    <div class="col-sm-8">

                                        <div class="checkbox">

                                            <label>

                                                <input type="checkbox">
                                                Male

                                            </label>

                                            <label>

                                                <input type="checkbox">
                                                Female

                                            </label>

                                        </div>

                                        <div class="checkbox">
                                        </div>

                                    </div>

                                </div>



                                <div class="form-group">

                                    <label for="" class="col-sm-4 control-label">Birth Date</label>

                                    <div class="col-sm-8">

                                        <input type="date" class="form-control" id="" placeholder="">
                                    </div>

                                </div>

                                <div class="form-group">

                                    <label for="" class="col-sm-4 control-label">Division</label>

                                    <div class="col-sm-8">

                                        <input type="text" class="form-control" id="" placeholder="Division">
                                    </div>

                                </div>



                                <div class="form-group">

                                    <label for="" class="col-sm-4 control-label">Job Position</label>

                                    <div class="col-sm-8">

                                        <input type="text" class="form-control" id="" placeholder="Manager">
                                    </div>

                                </div>



                                <div class="form-group">

                                    <label for="" class="col-sm-4 control-label">Work Phone</label>

                                    <div class="col-sm-8">

                                        <input type="tel" class="form-control" id="" placeholder="Telepon">
                                    </div>

                                </div>



                                <div class="form-group">

                                    <label for="" class="col-sm-4 control-label">Work Ext Phone</label>

                                    <div class="col-sm-8">

                                        <input type="tel" class="form-control" id="" placeholder="021">
                                    </div>

                                </div>



                                <div class="form-group">

                                    <label for="" class="col-sm-4 control-label">Phone No</label>

                                    <div class="col-sm-8">

                                        <input type="tel" class="form-control" id="" placeholder="-">
                                    </div>

                                </div>



                                <div class="form-group">

                                    <label for="" class="col-sm-4 control-label">Mobile No</label>

                                    <div class="col-sm-8">

                                        <input type="tel" class="form-control" id="" placeholder="08123456789">
                                    </div>

                                </div>



                                <div class="form-group">

                                    <label for="" class="col-sm-4 control-label">Second Mobile No</label>

                                    <div class="col-sm-8">

                                        <input type="tel" class="form-control" id="" placeholder="08123456789">
                                    </div>

                                </div>



                                <div class="form-group">

                                    <label for="" class="col-sm-4 control-label">Corporate Email</label>

                                    <div class="col-sm-8">

                                        <input type="email" class="form-control" id="" placeholder="email@mail.com">
                                    </div>

                                </div>



                                <div class="form-group">

                                    <label for="" class="col-sm-4 control-label">Personal Email</label>

                                    <div class="col-sm-8">

                                        <input type="email" class="form-control" id="" placeholder="email@mail.com">
                                    </div>

                                </div>



                                <div class="form-group">

                                    <label for="" class="col-sm-4 control-label">User Status</label>

                                    <div class="col-sm-8">

                                        <div class="checkbox">

                                            <label>

                                                <input type="checkbox">
                                                Is Active

                                            </label>

                                        </div>

                                    </div>

                                </div>



                                <div class="form-group">

                                    <div class="col-sm-8 col-sm-offset-4">

                                        <button type="button" class="btn btn-default btn-block" data-toggle="modal" data-target="#change-pass">Change Password</button>

                                        <button class="btn btn-success btn-block">Save</button>

                                    </div>

                                </div>



                            </form>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>



</section>

@*<section class="content">
    <div class="row">
        <div class="col-md-11 pr-0">
            <div class="box">
                <div class="box-header border-bottom pb-10 mb-10 uppercase">
                    <h3>Change Password</h3>
                </div>
                <div class="box-body">
                    @using (Html.BeginForm("mthd_ChangePassword", "Dashboard"))
                    {
                        @Html.ValidationSummary(true)
                        <fieldset>
                            <legend class="box-header border-bottom pb-10 mb-10 uppercase">Change Password</legend>

                            @Html.HiddenFor(model => model.UserID)
                            @Html.HiddenFor(model => model.RegistID)
                            @Html.HiddenFor(model => model.Password)
                            @Html.HiddenFor(model => model.CompID)
                            @Html.HiddenFor(model => model.IsLockedOut)
                            @Html.HiddenFor(model => model.IsChangePass)
                            @Html.HiddenFor(model => model.IsUpdateProfile)
                            @Html.HiddenFor(model => model.IsActive)
                            @Html.HiddenFor(model => model.InputDate)
                            @Html.HiddenFor(model => model.ModifDate)
                            @Html.HiddenFor(model => model.ModifUser)
                            @Html.HiddenFor(model => model.Gender)
                            @Html.HiddenFor(model => model.BirthDate)
                            @Html.HiddenFor(model => model.JobPosition)
                            @Html.HiddenFor(model => model.WorkPhoneExt)
                            @Html.HiddenFor(model => model.WorkPhone)
                            @Html.HiddenFor(model => model.PhoneNo)
                            @Html.HiddenFor(model => model.MobileNo)
                            @Html.HiddenFor(model => model.SecMobileNo)
                            @Html.HiddenFor(model => model.CorpEmail)
                            @Html.HiddenFor(model => model.IsLockedOut)
                            @Html.HiddenFor(model => model.IsChangePass)
                            @Html.HiddenFor(model => model.IsUpdateProfile)
                            @Html.HiddenFor(model => model.IsActive)
                            @Html.HiddenFor(model => model.InputDate)
                            @Html.HiddenFor(model => model.InputUser)
                            @Html.HiddenFor(model => model.ModifDate)
                            @Html.HiddenFor(model => model.ModifUser)
                            @Html.HiddenFor(model => model.Division)

                            <div class="container">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="editor-label">
                                            @Html.LabelFor(model => model.UserName)
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="editor-field">
                                            @Html.DisplayFor(model => model.UserName)

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="editor-label">
                                            @Html.LabelFor(model => model.FirstName)
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="editor-label">
                                            @Html.LabelFor(model => model.LastName)
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="editor-field">
                                            @Html.DisplayFor(model => model.FirstName)
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="editor-field">
                                            @Html.DisplayFor(model => model.LastName)
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="editor-label">
                                            @Html.LabelFor(model => model.Password)
                                        </div>
                                        <div class="editor-label">
                                            @Html.PasswordFor(model => model.Password)
                                            @Html.ValidationMessageFor(model => model.Password)
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="editor-label">
                                            @Html.Label("New Password")
                                        </div>
                                        <div class="editor-label">
                                            @Html.PasswordFor(model => model.Password)
                                            @Html.ValidationMessageFor(model => model.Password)
                                        </div>
                                        <div>
                                            <br />
                                            <input class="btn btn-block btn-success uppercase" type="submit" value="Save" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="editor-label">
                                            @Html.Label("Confirm Password")
                                        </div>
                                        <div class="editor-label">
                                            @Html.PasswordFor(model => model.Password)
                                            @Html.ValidationMessageFor(model => model.Password)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
</section>*@

