﻿@model UltimoApps.Models.ImportJobModel
@using UltimoApps.DAL

@{
    ViewBag.Title = "Frm_ImportJobOrdersFromERP";
    Layout = "~/Views/Master.cshtml";
}

@section css{
    <link href="/dist/js/alert/sweetalert.css" rel="stylesheet" />
}

@section js{
    <script src="/dist/js/ajax/jquery.validate.min.js"></script>
    <script src="/dist/js/ajax/jquery.unobtrusive-ajax.min.js"></script>
    <script src="/dist/js/ajax/jquery.validate.unobtrusive.min.js"></script>

    <script src="/dist/js/loading/loadingoverlay.min.js"></script>
    <script src="/dist/js/alert/sweetalert.min.js"></script>

    <script src="/dist/js/localStorage.js"></script>
    <script src="/dist/js/jobOrder.js"></script> 
    <script src="/dist/js/ajax/jquery.table2excel.min.js"></script>

    <script type="text/javascript">

        $(".ddlType").change(function () {
            $('.ddlDate').hide();
            $('.txtJob').hide();

            if ($(this).val() == "Job-Between Date") {
                $('.ddlDate').attr('style','display:block !important;');
            }

            if ($(this).val() == "Job-Single") {
                $('.txtJob').attr('style', 'display:block !important;');
            }
        });

        //function ViewSuccess(data) {

        //    $.LoadingOverlay("hide");

        //    if (data["success"] != undefined) {

        //        NotifSuccess(data["success"]);
        //    }
        //    else {
        //        NotifError(data["error"]);

        //    }
        //}

        //function ViewError(data) {
        //    $.LoadingOverlay("hide");

        //    NotifError(data["error"]);
        //}

        //function ViewBegin() {
        //    $.LoadingOverlay("show", {
        //        minSize: "20px",
        //        maxSize: "30px",
        //        image: "",
        //        fontawesome: "fa fa-spinner fa-spin"
        //    });
        //}
    </script>
}


<!-- Content Header (Page header) -->
<section class="content-header hidden">
    <h1>Page Header
          <small>Data Import Module</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Level</a></li>
        <li class="active">Here</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box">
                <div class="box-header ptb-10 with-border mb-10">
                    <h3 class="text-uppercase">Data Import Module</h3>
                </div>
                @using (Ajax.BeginForm("prosesImport", "ImportJob", null, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, OnBegin = "ViewBegin", OnFailure = "ViewError", OnSuccess = "ViewSuccess" }, new { @class = "form-horizontal" }))
                {

                    List<SelectListItem> listTypes = new List<SelectListItem> { 
                    new SelectListItem {
                        Value = "Job-Between Date",
                        Text = "Job-Between Date"
                    },
                    new SelectListItem {
                        Value = "Job-Single",
                        Text = "Job-Single"
                    },
                    new SelectListItem {
                        Value = "Work Center",
                        Text = "Work Center"
                    },
                    new SelectListItem {
                        Value = "Item",
                        Text = "Item"
                    }};
                    
                    <!-- Body -->
                    <div class="box-body">
                        <div class="cari-table">

                            <div class="form-group">
                                <div class="col-sm-4 text-left">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-2 control-label">Document Type </label>
                                <div class="col-sm-5">
                                    @Html.DropDownListFor(model => model.Type, listTypes, new { @class = "form-control ddlType", @id = "ddlType" })
                                    @Html.ValidationMessageFor(model => model.Type)

                                    @*   <select id="ddlDocumentType" name="ddlDocumentType" class="form-control" style="width: 300px!important">
                                        <option disabled selected>-- Select --</option>
                                        <option value="Job-Between Date">Job-Between Date</option>
                                        <option value="Job-Single">Job-Single</option>
                                        <option value="Work Center">Work Center</option>
                                        <option value="Item">Item</option>
                                    </select>*@
                                </div>
                            </div>

                            <div class="form-group ddlDate">
                                <label for="" class="col-sm-2 control-label">From Date</label>
                                <div class="col-xs-12 col-sm-5 col-sm-3 col-md-2 col-lg-2">

                                    @Html.TextBoxFor(model => model.From, new { @class = "form-control datepicker", @id = "txtFrom"})
                                    @Html.ValidationMessageFor(model => model.From)


                                </div>
                            </div>

                            <div class="form-group ddlDate">
                                <label for="" class="col-sm-2 control-label">To Date</label>
                                <div class="col-xs-12 col-sm-5 col-sm-3 col-md-2 col-lg-2">

                                    @Html.TextBoxFor(model => model.To, new { @class = "form-control datepicker", @id = "txtTo"})
                                    @Html.ValidationMessageFor(model => model.To)

                                </div>
                            </div>

                            <div class="form-group hide txtJob">
                                <label for="" class="col-sm-2 control-label">Job No</label>
                                <div class="col-xs-12 col-sm-5 col-sm-3 col-md-2 col-lg-2">

                                    @Html.TextBoxFor(model => model.JobNo, new { @class = "form-control", @id="txtJobNumber"})
                                    @Html.ValidationMessageFor(model => model.JobNo)

                                </div>
                            </div>

                        </div>

                        @*<div class="table-responsive">
                            <div id="grid">
                            </div>
                        </div>*@
                    </div>

                    <!-- Footer -->
                    <div class="box-footer"></div>

                    <div class="row">
                        <div class="col-sm-6">

                            <button id="btnDownload" type="submit" class="btn btn-success uppercase" data-toggle="modal" style="margin-left: 222px">Download</button>

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
