﻿@{
    ViewBag.Title = "Frm_DataEntry";
    Layout = "~/Views/Master.cshtml";
}

@model UltimoApps.Models.Compact_DataEntryModel

@section css{
    <link href="/dist/js/alert/sweetalert.css" rel="stylesheet" />
}

@section js{
    <script src="/dist/js/ajax/jquery.validate.min.js"></script>
    <script src="/dist/js/ajax/jquery.unobtrusive-ajax.min.js"></script>
    <script src="/dist/js/ajax/jquery.validate.unobtrusive.min.js"></script>

    <script src="/dist/js/loading/loadingoverlay.min.js"></script>
    <script src="/dist/js/alert/sweetalert.min.js"></script>

    <script src="/dist/js/localStorage.js"></script>
    <script src="/dist/js/dataEntry.js"></script>
    <script src="/dist/js/ajax/jquery.table2excel.min.js"></script>
}

<!-- Content Header (Page header) -->
<section class="content-header hidden">
    <h1>Page Header
          <small>Edit Operation Data</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Level</a></li>
        <li class="active">Here</li>
    </ol>
</section>

<section class="content">

    @using (Ajax.BeginForm("processDataEntry", "JobRoute", new { url = Request.RawUrl.Replace("/", "") }, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "divResult", OnBegin = "ViewBegin", OnFailure = "ViewError", OnSuccess = "ViewSuccess" }, new { @class = "form-horizontal" }))
    {
        <div class="row">
            <div class="col-sm-12">
                <div class="box">
                    <div class="box-header uppercase border-bottom pb-10 mb-10">
                        <h4>DATA ENTRY</h4>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            @Html.HiddenFor(Model => Model.total_rejected, new { @id = "hfTotalRejected" })
                            @Html.HiddenFor(Model => Model.listRejected, new { @id = "hfListReject" })
                            @Html.HiddenFor(Model => Model.tansnum, new { @id = "hfTansum" })
                            @Html.HiddenFor(Model => Model.actionType, new { @id = "hfActionType" })
                            @Html.HiddenFor(Model => Model.jobSuffix, new { @id = "hfjobSuffix" })
                            @Html.HiddenFor(Model => Model.jobSuffixParent, new { @id = "hfjobSuffixParent" })
                            @Html.HiddenFor(Model => Model.status, new { @id = "hfStatus" })
                            @Html.HiddenFor(Model => Model.item, new { @id = "hfItem" })
                            <div class="col-sm-6" style="background-color: #526686; height: 200px;">
                                <div class="form-group" style="padding-top: 75px;">
                                    <label for="" class="col-sm-2 control-label" style="color: white">Job No</label>
                                    <div class="col-sm-6">
                                        @Html.TextBoxFor(Model => Model.jobNo, new { @placeholder = "Job Number", @id = "txtJobNo", @style = "width:100%;", @class = "form-control" })
                                    </div>
                                    <div class="col-sm-2">
                                        <button type="button" id="btnSearch" class="btn" style="margin-bottom: 5px;">Search</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-8">
                                    </div>
                                    <div class="col-sm-4" style="display: none;">
                                        <button type="button" id="btnPrint" class="btn">Print Transaction</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6" style="height: 200px;">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 control-label">ITEM CODE      :</label>
                                    <label id="lblItemCode" class="col-sm-8 control-label">_</label>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-4 control-label">DESCRIPTION    :</label>
                                    <label id="lblDescription" class="col-sm-8 control-label">_</label>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-4 control-label">RELEASED QTY   :</label>
                                    <label id="lblReleasedQty" class="col-sm-8 control-label">_</label>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-4 control-label">JOB DATE       :</label>
                                    <label id="lblJobDate" class="col-sm-8 control-label">_</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5" style="background-color: #cccdcd; height: 83.6vh;">
                                <div class="col-sm-5" style="background-color: #cccdcd;">
                                    <div id="grid-line-number"></div>
                                </div>
                                <div class="col-sm-6" style="background-color: #cccdcd;">
                                    <div id="grid-job-line"></div>
                                    <div>
                                        <input id="ckbRework" name="ckbRework" type="checkbox" class="col-sm-2 control-label" />
                                        <label for="">REWORK</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class="row" style="background-color: #cccdcd;">
                                    <div class="form-group">
                                        <label for="" class="col-sm-3 control-label">OPERATION NO</label>
                                        <div class="col-sm-3">
                                            @Html.TextBoxFor(Model => Model.oper_num, new { @placeholder = "Operation No", @id = "txtOpNo", @style = "width:100%;", @class = "form-control", @readonly = "readonly" })
                                        </div>

                                        <label for="" class="col-sm-3 control-label">WORK CENTER</label>
                                        <div class="col-sm-3">
                                            @Html.TextBoxFor(Model => Model.wc, new { @placeholder = "Work Center", @id = "txtWorkCenter", @style = "width:100%;", @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-9" style="background-color: #dde0e0;">
                                        <div class="row" style="padding: 5px 0px">
                                            <label for="" class="col-sm-3 control-label">RELEASED</label>
                                            <div class="col-sm-4">
                                                @Html.TextBoxFor(Model => Model.ARelQty, new { @placeholder = "Released Qty", @id = "txtReleasedQty", @style = "width:100%;", @class = "form-control", @type = "number" })
                                            </div>
                                        </div>
                                        <div class="row" style="padding-top: 5px; padding-bottom: 5px;">
                                            <label for="" class="col-sm-3 control-label">MACHINE ID</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(Model => Model.machineId, new { @id = "cbMachineID", @style = "width:100%;", @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="row" style="padding-top: 5px; padding-bottom: 5px;">
                                            <label for="" class="col-sm-3 control-label">NAME</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(Model => Model.emp_num, new { @id = "cbOperator", @style = "width:100%;", @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="row" style="padding-top: 5px; padding-bottom: 5px;">
                                            <label for="" class="col-sm-3 control-label">NO.OF OPERATOR</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(Model => Model.number_of_operator, new { @placeholder = "No. Of Operator", @id = "txtNumberOP", @style = "width:100%;", @class = "form-control", @type = "number" })
                                            </div>
                                        </div>
                                        <div class="row" style="padding-top: 5px; padding-bottom: 5px;">
                                            <label for="" class="col-sm-3 control-label">REMARKS</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(Model => Model.remarks, "", new { @placeholder = "Remarks", @id = "txtRemarks", @style = "width:100%;", @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="row" style="padding-top: 5px; padding-bottom: 5px;">
                                            <label for="" class="col-sm-4 control-label">STATUS</label>
                                            <label id="lblStatus" class="col-sm-4 control-label" style="color: red;"></label>
                                            <label id="lblRework" class="col-sm-4 control-label" style="color: red; display: none;">REWORK</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-3" style="padding: 5px 0px">
                                        <div class="col-sm-12">
                                            <button id="btnSave" type="submit" class="btn btn-block">Save</button>
                                            <button id="btnPrintLine" type="button" class="btn btn-block">Print</button>
                                            <button id="btnCancel" type="button" class="btn btn-block">Cancel</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-9" style="background-color: #526586;">
                                        <div class="row" style="padding-top: 2px; padding-bottom: 2px;">
                                            <label for="" class="col-sm-4 control-label" style="color: white">RECEIVED QTY</label>
                                            <div class="col-sm-4">
                                                @Html.TextBoxFor(Model => Model.qty_op_qty, "", new { @placeholder = "Received Qty", @id = "txtReceived", @style = "width:100%;", @class = "form-control", @type = "number" })
                                            </div>
                                        </div>
                                        <div class="row" style="padding-top: 2px; padding-bottom: 2px;">
                                            <label for="" class="col-sm-4 control-label" style="color: white">COMPLETED QTY</label>
                                            <div class="col-sm-4">
                                                @Html.TextBoxFor(Model => Model.qty_complete, new { @placeholder = "Completed Qty", @id = "txtCompleted", @style = "width:100%;", @class = "form-control", @type = "number" })
                                            </div>
                                        </div>
                                        <div class="row" style="padding-top: 2px; padding-bottom: 2px;">
                                            <label for="" class="col-sm-4 control-label" style="color: white">REJECTED QTY</label>
                                            <div class="col-sm-4">
                                                @Html.TextBoxFor(Model => Model.qty_scrapped, new { @placeholder = "Rejected Qty", @id = "txtRejected", @style = "width:100%;", @class = "form-control", @type = "number" })
                                            </div>
                                        </div>
                                        <div class="row" style="padding-top: 2px; padding-bottom: 2px;">
                                            <label for="" class="col-sm-4 control-label" style="color: white">START DATE/TIME</label>
                                            <div class="col-sm-6">
                                                @Html.TextBoxFor(Model => Model.start_Date, new { @id = "txtStartDate", @style = "width:100%;", @class = "form-control", @type = "datetime", @value = "" })
                                            </div>
                                            @*<label for="" class="col-sm-3 control-label" style="font-weight:900;color:red;font-size:13px;">(MM/DD/YYYY HH:MM)</label>*@
                                        </div>
                                        <div class="row" style="padding-top: 2px; padding-bottom: 2px;">
                                            <label for="" class="col-sm-4 control-label" style="color: white">END DATE/TIME</label>
                                            <div class="col-sm-6">
                                                @Html.TextBoxFor(Model => Model.end_Date, "", new { @id = "txtEndDate", @style = "width:100%;", @class = "form-control", @type = "datetime", @value = "" })
                                            </div>
                                        </div>
                                        <div style="text-align: center">
                                            <label for="" class="control-label" style="font-weight: 900; color: red;">(DD/MM/YYYY HH:MM)</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-3" style="text-align: center;">
                                        <div class="row">
                                            <p style="font-weight: 900; color: red;">ACTION</p>
                                        </div>
                                        <div class="row" style="text-align: center">
                                            @Html.TextBox("cbAction", "", new { @id = "cbAction", @class = "form-control", @style = "width:100%" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div id="grid-rejected" class="grid-rejected"></div>
                                <div class="col-sm-10">
                                    Total : @Html.Label("txtTotal", "_", new { @id = "txtTotal", @class = "label-total-reject" })
                                </div>
                                <div class="col-sm-2 text-right" style="padding-top: 10px;">
                                    <button id="addReject" type="button" class="btn btn-block btn-success">ADD</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    }

</section>

@Html.Partial("/Views/Partials/Partial_DataEntry_Rejection.cshtml")
