﻿@model UltimoApps.DAL.Sc_Register
@using UltimoApps.DAL
@using UltimoApps.DAL.Membership

@{
    ViewBag.Title = "eWip| Registration";
}
<!DOCTYPE html>
<head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>@ViewBag.Title</title>

    <!-- Bootstrap 3.3.6 -->

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

    <!-- Font Awesome -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Ionicons -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

    <!-- Theme style -->

    <link rel="stylesheet" href="/dist/css/AdminLTE.min.css">

    @*<link href="https://kendo.cdn.telerik.com/2017.3.1026/styles/kendo.common-material.min.css" rel="stylesheet">
    <link href="https://kendo.cdn.telerik.com/2017.3.1026/styles/kendo.material.min.css" rel="stylesheet">*@
    <link href="/bootstrap/kendo/kendo_css/kendo.common-material.min.css" rel="stylesheet" />


    
    <link href="/bootstrap/kendo/kendo_css/kendo.common.min.css" rel="stylesheet" type="text/css" />
    <link href="/bootstrap/kendo/kendo_css/kendo.bootstrap.min.css" rel="stylesheet"  />
    <link href="/bootstrap/kendo/kendo_css/kendo.bootstrap.mobile.min.css" rel="stylesheet" />



    <!-- iCheck for checkboxes and radio inputs -->

    <link rel="stylesheet" href="/plugins/iCheck/all.css">

    <link rel="stylesheet" href="/dist/css/skins/skin-black.min.css">
    <link rel="stylesheet" href="/dist/css/custom.css">
    <link rel="stylesheet" href="/dist/css/default.css">
    <link href="/dist/css/ulDefault.css" rel="stylesheet" /> 
    

</head>



<body class="hold-transition login-page">

    <div class="login-box  ">



        <!-- /.login-logo -->

        <div class="login-box-body">

            <h4 class="text-uppercase">Form Register User</h4>

            <br>



            @{
                <div class="modal-body clearfix">

                    @Html.HiddenFor(model => model.RegistID)

                    @using (Html.BeginForm("Registration", "Login", FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                    @Html.ValidationSummary(true);
                        <div class="row">
                            <div class="col-sm-12">
                                @Html.HiddenFor(model => model.RegistID)
                               
                                <div class="form-group">
                                    @Html.LabelFor(model => model.FirstName, new { @class = "col-sm-4 control-label" })
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.FirstName)
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.LastName, new { @class = "col-sm-4 control-label" })
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @style = "width:100%;" })
                                        @Html.ValidationMessageFor(model => model.LastName)
                                    </div>
                                </div>
                           
                                
                                <div class="form-group">
                                    <label for="" class="col-sm-4 control-label">Gender</label>
                                    <div class="col-sm-8">
                                        <div class="col-sm-6">
                                            @Html.RadioButtonFor(model => model.Gender, "M", new { GroupName = "Gender", @class = "col-sm-3", @id = "rbMale" })@Html.Label("Male")
                                        </div>
                                        <div class="col-sm-6">
                                            @Html.RadioButtonFor(model => model.Gender, "F", new { GroupName = "Gender", @class = "col-sm-3", @id = "rbFemale" })@Html.Label("Female")
                                        </div>

                                        @Html.ValidationMessageFor(model => model.Gender)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Division, new { @class = "col-sm-4 control-label" })
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(model => model.Division, new { @class = "form-control", @id = "txtAreaID", @style = "width:100%;" })
                                        @Html.ValidationMessageFor(model => model.Division)
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.JobPosition, new { @class = "col-sm-4 control-label" })
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(model => model.JobPosition, new { @class = "form-control", @id = "txtAreaID", @style = "width:100%;" })
                                        @Html.ValidationMessageFor(model => model.JobPosition)
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CorpEmail, new { @class = "col-sm-4 control-label" })
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(model => model.CorpEmail, new { @class = "form-control", @id = "txtAreaID", @style = "width:100%;" })
                                        @Html.ValidationMessageFor(model => model.CorpEmail)
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="col-sm-12 text-right">                        
                        <button type="submit" class="btn btn-success uppercase">Register</button> 
                        <a class="btn-cancel" href="/"><span>Cancel</span></a>                        
                    </div>
                    }
                </div>     
             
            }



        </div>

        <!-- /.login-box-body -->

    </div>

    <!-- /.login-box -->



   <script src="/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <!-- Bootstrap 3.3.6 -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="https://kendo.cdn.telerik.com/2017.3.1026/js/kendo.all.min.js"></script>
    <script src="/dist/js/app.min.js"></script>
    <script src="/dist/js/custom.js"></script>
    <script src="/dist/js/localStorage.js"></script>

    <script>
        try {
            $('#txtCompID').kendoDropDownList({
                dataTextField: "Company",
                dataValueField: "CompID",
                dataSource: mylocalStorage.CompData.GetAllCompany("btn_search"),
                filter: "contains"
            })
        } catch (e) {

        }
    </script>

</body>
