﻿@using UltimoApps.Models

@model UltimoApps.DAL.tbWc

@{
    ViewBag.Title = "Frm_WorkCenter";
    Layout = "~/Views/Master.cshtml";
}

@section css{
    <link href="/dist/js/alert/sweetalert.css" rel="stylesheet" />
}

@section js{
    <script src="/dist/js/ajax/jquery.validate.min.js"></script>
    <script src="/dist/js/ajax/jquery.unobtrusive-ajax.min.js"></script>
    <script src="/dist/js/ajax/jquery.validate.unobtrusive.min.js"></script>

    <script src="/dist/js/loading/loadingoverlay.min.js"></script>
    <script src="/dist/js/alert/sweetalert.min.js"></script>

    <script src="/dist/js/localStorage.js"></script>
    <script src="/dist/js/workCenter.js"></script>
    <script src="/dist/js/ajax/jquery.table2excel.min.js"></script>
}


<!-- Content Header (Page header) -->
<section class="content-header hidden">
    <h1>Page Header
          <small>Work Center</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Level</a></li>
        <li class="active">Here</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box">
                <div class="box-header ptb-10 with-border mb-10">
                    <h3 class="text-uppercase">Work Center</h3>
                </div>
                <!-- Body -->
                <div class="box-body">
                    <div class="cari-table">
                        @using (Ajax.BeginForm("prosesWorkCenter", "WorkCenter", null, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, OnBegin = "ViewBegin", OnFailure = "ViewError", OnSuccess = "ViewSuccess" }, new { @class = "form-horizontal" }))
                        {
                            <div class="form-group">
                                <div class="col-sm-4 text-left">
                                    <button id="btnUpdate" type="submit" class="btn btn-success uppercase" name="command" value="updateWC">Update</button>
                                    @*<button id="btnDelete" type="submit" class="btn btn-success uppercase" name ="command" value="deleteWC">Delete</button>*@
                                    <button id="btnCancel" type="reset" class="btn-cancel btn bg-black">CANCEL</button>
                                </div>
                            </div>
                            @Html.HiddenFor(model => model._wcid, new { @id="txtWcID"})
                            <div class="form-group">
                                <label for="" class="col-sm-2 control-label">Code</label>
                                <div class="col-sm-3">
                                    @*<input id="txtCode" type="text" class="form-control" style="width: 200px">*@
                                    @Html.TextBoxFor(model => model._wc, new { @id="txtCode", @class="form-control", @style="width:200px", @disabled="true"})
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-2 control-label">Description</label>
                                <div class="col-sm-3">
                                    @*<input id="txtDescription" type="text" class="form-control" style="width: 700px">*@
                                    @Html.TextBoxFor(model => model._description, new { @id="txtDescription", @class="form-control", @style="width:700px", @disabled="true"})
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-2 control-label">Labour</label>
                                <div class="col-sm-3">
                                    @*<input id="cbLabour" type="checkbox" />*@
                                    @Html.HiddenFor(model => model._transfer, new { @id="txtLabour" }) 
                                    @Html.CheckBox("cbLabour", new { @id="cbLabour", @disabled="true"})

                                </div>
                                <label for="" class="col-sm-1 control-label">Run Rate</label>
                                <div class="col-sm-3">
                                    @*<input id="txtRunRate" type="text" class="form-control" style="width: 200px">*@
                                    @Html.TextBoxFor(model => model._Run_Rate, new { @id="txtRunRate", @class="form-control", @style="width:260px", @disabled="true"})
                                </div>
                            </div>
                        }
                    </div>
                    <div class="table-responsive">
                        <div id="grid">
                        </div>
                    </div>
                </div>

                <!-- Footer -->
                <div class="box-footer"></div>

                <div class="row" style="display: none;">
                    <div class="col-sm-6">
                    </div>
                    <div class="col-sm-3">
                        <button class="btn bg-gray">Print</button>
                        <button id="import-excel" class="btn bg-gray">To Excel</button>
                    </div>
                    <div class="col-sm-3 text-right">
                        <button class="btn-new btn bg-gray" data-toggle="modal">New</button>
                        <button class="btn-edit btn bg-gray" data-toggle="modal">Edit</button>

                        <button class="btn-delete btn bg-black">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>