﻿@using UltimoApps.DAL

@{
    ViewBag.Title = "Frm_JobProcess";
    Layout = "~/Views/Master.cshtml";
}

@section css{
    <link href="/dist/js/alert/sweetalert.css" rel="stylesheet" />
}

@section js{
    <script src="/dist/js/ajax/jquery.validate.min.js"></script>
    <script src="/dist/js/ajax/jquery.unobtrusive-ajax.min.js"></script>
    <script src="/dist/js/ajax/jquery.validate.unobtrusive.min.js"></script>

    <script src="/dist/js/loading/loadingoverlay.min.js"></script>
    <script src="/dist/js/alert/sweetalert.min.js"></script>

    <script src="/dist/js/localStorage.js"></script>
    <script src="/dist/js/jobProcess.js"></script>
    <script src="/dist/js/ajax/jquery.table2excel.min.js"></script>
}


<!-- Content Header (Page header) -->
<section class="content-header hidden">
    <h1>Page Header
          <small>Job Process</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Level</a></li>
        <li class="active">Here</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box">
                <div class="box-header ptb-10 with-border mb-10">
                    <h3 class="text-uppercase">Job Process</h3>
                </div>
                <!-- Body -->
                <div class="box-body">
                    <div class="cari-table">
                        @using (Ajax.BeginForm("prosesJobPocess", "JobProcess", null, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, OnBegin = "ViewBegin", OnFailure = "ViewError", OnSuccess = "ViewSuccess" }, new { @class = "form-horizontal" }))
                        {
                            <div class="form-group">
                                <div class="col-sm-4 text-left">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-2 control-label">Job No </label>
                                <div class="col-sm-2">
                                    @Html.TextBox("txtJobNo", null, new { @class = "form-control", @style = "width: 250px", @placeholder = "Search" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-2 control-label">Work Center</label>
                                <div class="col-sm-2">
                                    @Html.TextBox("txtWorkCenter", null, new { @class = "form-control", @style = "width: 250px", @placeholder = "Search" })
                                </div>
                                <button id="btnSearch" type="button" style="margin-left: 125px" class="btn btn-success uppercase" name="command" value="searchJob">Search</button>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-2 control-label">From Date</label>
                                <div class="col-sm-2">
                                    @Html.TextBox("txtFromDate", DateTime.Now.ToString("01/MM/yyyy"), new { @class = "form-control datepicker"})
                                </div>
                                <label for="" class="col-sm-1 control-label">To Date</label>
                                <div class="col-sm-2">
                                    @Html.TextBox("txtToDate", DateTime.Now.ToString("01/MM/yyyy"), new {  @class = "form-control datepicker"})
                                </div>
                            </div>
                            
                        }
                    </div>

                    <div class="table-responsive">
                        <div id="grid">
                        </div>
                    </div>
                    <div class="form-group" style="margin-left:500px">
                        <div class="col-sm-2 text-left">
                            <input disabled style="background-color:orange;width:20px"/>
                            <label>Progress</label>
                        </div>
                        <div class="col-sm-3 text-left">
                            <input disabled style="background-color:green;width:20px"/>
                            <label>Completed</label>
                        </div>
                    </div>

                </div>

                <!-- Footer -->
                <div class="box-footer"></div>

                <div class="row">

                </div>


                <div class="row" style="display: none;">
                    <div class="col-sm-6">
                    </div>
                    <div class="col-sm-3">
                        <button class="btn bg-gray">Print</button>
                        <button id="import-excel" class="btn bg-gray">To Excel</button>
                    </div>
                    <div class="col-sm-3 text-right">
                        <button class="btn-new btn bg-gray" data-toggle="modal">New</button>
                        <button class="btn-edit btn bg-gray" data-toggle="modal">Edit</button>

                        <button class="btn-delete btn bg-black">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
