﻿@{
    ViewBag.Title = "Frm_MachineGrouping";
    Layout = "~/Views/Master.cshtml";
}

@model UltimoApps.Models.Grouping_MachineModel

@section css{

}

@section js{
    <script src="/dist/js/ajax/jquery.validate.min.js"></script>
    <script src="/dist/js/ajax/jquery.unobtrusive-ajax.min.js"></script>
    <script src="/dist/js/ajax/jquery.validate.unobtrusive.min.js"></script>
    <script src="/dist/js/ajax/jquery.table2excel.min.js"></script>

    <script src="/dist/js/loading/loadingoverlay.min.js"></script>
    <script src="/dist/js/alert/sweetalert.min.js"></script>

    <script src="/dist/js/localStorage.js"></script>
    <script src="/dist/js/MachineGroup.js"></script>
    }

<!-- Content Header (Page header) -->
<section class="content-header hidden">
    <h1>Page Header
          <small>Form & Control</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Level</a></li>
        <li class="active">Here</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box">
                <div class="box-header ptb-10 with-border mb-10">
                    <h3 class="text-uppercase">Machine Group</h3>
                </div>

                @using (Ajax.BeginForm("updateMachineGrouping", "Machine", new { url = Request.RawUrl.Replace("/", "") }, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, OnBegin = "ViewBegin", OnFailure = "ViewError", OnSuccess = "ViewSuccess" }, new { @class = "form-horizontal" }))
                {
                    <div class="box-body">
                        @Html.HiddenFor(model => model.listMachine, new { @id = "listMachine" })

                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.Label("WorkCenterID", "Work Center ID", new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.HiddenFor(model => model._wc , new { @id = "hfWcID" })
                                    @Html.HiddenFor(model => model._wcdesc, new { @id = "hfWcDesc" })
                                    @Html.TextBox("txtWcID", "", new { @class = "form-control", @id = "txtWcID", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.Label("WorkCenterDesc", "Work Center Desc", new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.TextBox("txtWcDesc", "", new { @class = "form-control", @id = "txtWcDesc", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <h5>WORK CENTER</h5>
                                <div id="grid-work-center"></div>
                            </div>
                            <div class="col-sm-4">
                                <h5>AVAILABLE MACHINE</h5>
                                <div id="grid-available-machine"></div>

                            </div>
                            <div class="col-sm-1">
                                <div class="row" style="text-align: center;">
                                    <div class="row">
                                        <button id="button-right" class="btn bg-black" type="button" style="width: 53px; margin: 5px;">></button>
                                    </div>
                                    <div class="row">
                                        <button id="button-all-right" class="btn bg-black" type="button" style="width: 53px; margin: 5px;">>></button>
                                    </div>
                                    <div class="row">
                                        <button id="button-left" class="btn bg-black" type="button" style="width: 53px; margin: 5px;"><</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <h5>ALLOCATED MACHINE</h5>
                                <div id="grid-allocated-machine"></div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="form-group" style="margin: 10px 10px; text-align: center;">
                            <button id="btnSave" type="submit" class="btn btn-success uppercase">Save</button>
                            <button id="btnCancel" type="button" class="btn bg-black uppercase ">Cancel</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

