﻿@{
    ViewBag.Title = "Auto Posting To SL9";
    Layout = "~/Views/Master.cshtml";
}
@model UltimoApps.DAL.Tmp_SL9TableName

@section css
{
    <link href="/dist/js/alert/sweetalert.css" rel="stylesheet" />
}

@section js
{
    <script src="/dist/js/ajax/jquery.validate.min.js"></script>
    <script src="/dist/js/ajax/jquery.unobtrusive-ajax.min.js"></script>
    <script src="/dist/js/ajax/jquery.validate.unobtrusive.min.js"></script>

    <script src="/dist/js/loading/loadingoverlay.min.js"></script>
    <script src="/dist/js/alert/sweetalert.min.js"></script>

    <script src="/dist/js/localStorage.js"></script>
    <script src="/dist/js/autoPosting.js"></script>
    <script src="/dist/js/ajax/jquery.table2excel.min.js"></script>

    <script>
        function ViewSuccess(data) {

            $.LoadingOverlay("hide");

            if (data["success"] != undefined) {
                NotifSuccess(data["success"]);
            }
            else {
                NotifError(data["error"]);

            }
        }

        function ViewError(data) {

            $.LoadingOverlay("hide");

            NotifError(data["error"]);
        }

        function ViewBegin() {
            $.LoadingOverlay("show", {
                minSize: "20px",
                maxSize: "30px",
                image: "",
                fontawesome: "fa fa-spinner fa-spin"
            });

        }
    </script>
}

<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box">
                <div class="box-header ptb-10 with-border mb-10">
                    <h3 class="text-uppercase">@ViewBag.Title</h3>
                </div>
                <!-- Body -->
                <div class="box-body">
                    <div class="cari-table">
                        @using (Ajax.BeginForm("MassAutoPosting", "AutoPosting", new { url = Request.RawUrl.Replace("/", "") }, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "divResult", OnBegin = "ViewBegin", OnFailure = "ViewError", OnSuccess = "ViewSuccess" }, new { @class = "form-horizontal" }))
                        {
                            <div class="form-group" style="display: none;">
                                <label class="col-sm-2 control-label">Job Order Issued From</label>
                                <div class="col-sm-2">
                                    @Html.TextBox("fromDate", DateTime.Now.AddYears(-1).ToString("yyyy-MM-dd"), new { @type = "date", @class = "form-control", @style = "width: 150px" })
                                </div>
                                <label class="col-sm-1 control-label">To</label>
                                <div class="col-sm-2">
                                    @Html.TextBox("toDate", DateTime.Now.ToString("yyyy-MM-dd"), new { @type = "date", @class = "form-control", @style = "width: 150px" })
                                </div>
                                <div class="col-sm-5">
                                    <input name="cbNoMatch" type="checkbox" /><label class="control-label" for="cbNoMatch">Not Match</label>
                                </div>
                            </div>
                            <div class="form-group has-success col-sm-9" style="display: none;">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="fileName" placeholder="File name" value="export_data_from_eWIP" />
                                    <span class="input-group-addon">.xls</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12 col-lg-12 col-md-12">
                                    <h5>Manually override the Auto Posting Process</h5>
                                </div>
                            </div>
                            <div class="form-group col-sm-2">
                                <button type="submit" class="btn btn-success uppercase" name="submitButton" value="Export">Export Manually</button>
                                @*<button id="btnCancel" type="reset" class="btn-cancel btn bg-black">Cancel</button>*@
                            </div>
                            <div class="col-sm-2">

                                @if (UltimoApps.DAL.Global.getFreezeData() == 1)
                                {
                                    @Html.HiddenFor(model => model.freeze_post, new { @id = "hffreeze_post" })                                
                                    <input type="checkbox" id="cbAutoPosting" class="k-checkbox">
                                }
                                else
                                {
                                    @Html.HiddenFor(model => model.freeze_post, new { @id = "hffreeze_post" })                                
                                    <input type="checkbox" id="cbAutoPosting" class="k-checkbox" checked="checked">
                                }
                                <label class="k-checkbox-label" for="cbAutoPosting">Freeze Periode</label>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
