﻿@{
    ViewBag.Title = "Frm_UserRegistration";
    Layout = "~/Views/Master.cshtml";
}

@section css{

}

@section js{
    <script src="/dist/js/ajax/jquery.validate.min.js"></script>
    <script src="/dist/js/ajax/jquery.unobtrusive-ajax.min.js"></script>
    <script src="/dist/js/ajax/jquery.validate.unobtrusive.min.js"></script>

    <script src="/dist/js/loading/loadingoverlay.min.js"></script>
    <script src="/dist/js/alert/sweetalert.min.js"></script>

    <script src="/dist/js/localStorage.js"></script>
    <script src="/dist/js/userRegistration.js"></script>
    <script src="/dist/js/ajax/jquery.table2excel.min.js"></script>
}


<!-- Content Header (Page header) -->
<section class="content-header hidden">
    <h1>Page Header
          <small>UserRegistrartionView</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Level</a></li>
        <li class="active">Here</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box">

                <div class="box-header ptb-10 with-border mb-10">
                    <h3 class="text-uppercase">User Registration List

                    </h3>
                </div>

                <div class="box-body">
                    <div class="cari-table">
                        <form action="" class="form-horizontal">
                            <div class="form-group">
                                @*
                                <label for="" class="col-sm-2 control-label">Company :</label>
                                <div class="col-sm-3">
                                    <select>
                                        @Html.TextBox("ddlCompany", null, new { @class = "ddl-comp form-control", @id = "ddlCompany", @style = "width:100%;" })
                                    </select>

                                </div>*@
                                <label for="" class="col-sm-2 control-label">Status :</label>
                                <div class="col-sm-3">
                                    <select name="ddlStatus" id="ddlStatus" class="form-control">
                                        <option value="Pending">Pending</option>
                                        <option value="Accepted">Accepted</option>
                                        <option value="Rejected">Rejected</option>
                                    </select>

                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="cari-table">
                        <form action="" class="form-horizontal">
                            <div class="form-group">
                                <label for="" class="col-sm-2 control-label">Search By:</label>
                                <div class="col-sm-3">
                                    <select name="ddlSearch" id="ddlSearch" class="form-control">
                                        <option value=""></option>
                                        <option value="BankAccID">Bank Acc ID</option>
                                        <option value="Bank">Bank</option>
                                        <option value="AccountNo">AccountNo</option>
                                    </select>

                                </div>
                                <div class="col-sm-5">
                                    <input id="txtSearch" type="text" class="form-control" placeholder="Cari">
                                </div>
                                <div class="col-sm-2">
                                    <button id="btnSearch" class="btn btn-success btn-block">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="table-responsive">
                        <div id="grid"></div>
                    </div>
                </div>
                <div class="box-footer">

                    <div class="row">
                        <div class="col-sm-6"></div>
                        <div class="col-sm-3">
                            <button class="btn bg-gray">Print</button>
                            <button id="import-excel" class="btn bg-gray">To Excel</button>
                        </div>
                        <div class="col-sm-3 text-right">
                            <button id="btn-accept" class="btn btn-success" data-toggle="modal">Accept</button>
                            <button id="btn-decline" class="btn btn-danger" data-toggle="modal">Decline</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@Html.Partial("/Views/Partials/Partial_UserRegistration.cshtml")


