﻿@using UltimoApps.DAL;
@using UltimoApps.DAL.Membership;

@{
    ViewBag.Title = "AMT";
}


@{    
    string URL = Request.FilePath;
    string substringURL = URL.Substring(1, URL.Length - 1);
    var User = tbUser.GetUserbyUserName(mpMembership.GetCurrentUsername());

    string name = "";

    try
    {
        if (!System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
        {
            Response.Redirect("/");
        }
        else if (Sc_RoleMenu.getUserHasMasterClearance(GetCurrentRole(), substringURL) == 0)
        {
            Response.Redirect("/dashboard");
        }
    }
    catch (Exception)
    {
        Response.Redirect("/");
    }
}

@functions{
    public string GetCurrentRole()
    {
        var currentUser = tbUser.GetUserbyUserName(mpMembership.GetCurrentUsername());
        string currentRole = string.Empty;

        switch (currentUser._privilege.ToLower())
        {
            case "admin":
                currentRole = "R0001";
                break;
            case "supervisor":
                currentRole = "R0002";
                break;
            case "rework":
                currentRole = "R0003";
                break;
            default: currentRole = "R0004"; break;
        }
        return currentRole;
    }
}


@helper RenderSubMenu(string MenuID, List<sp_getMenubyParentResult> list)
{    
    var tempURL = Request.FilePath;
    var currentURL = tempURL.Substring(1, tempURL.Length - 1);
    var parent = Sc_Menu.getParentMenuID(currentURL);

    foreach (var subPage in list.Where(item => item.IsHide == null || item.IsHide == false))
    {
        //HARUS GANTI - ULTIMOD
        var subList = Sc_Menu.getMenubyParent(subPage.MenuID, GetCurrentRole()).Where(item => item.IsHide == null || item.IsHide == false).ToList();
        if (subList.Count() > 0 && subPage.MenuLvl != 3)
        {
            if (parent.Contains(subPage.MenuID))
            {
    <li class="treeview active">
        <a href="#"><i class="fa fa-link"></i><span>@subPage.Menu</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu menu-open active" style="display: block;">
            @RenderSubMenu(subPage.MenuID, subList)
        </ul>
    </li> 
            }
            else
            {
    <li class="treeview">
        <a href="#"><i class="fa fa-link"></i><span>@subPage.Menu</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu ">
            @RenderSubMenu(subPage.MenuID, subList)
        </ul>
    </li> 
            }

        }
        else
        {

            if (parent.Contains(@subPage.MenuID))
            {
    <li class="active"><a href="/@subPage.MenuURL"><span>@subPage.Menu</span></a></li>
            }
            else
            {
    <li><a href="/@subPage.MenuURL"><span>@subPage.Menu</span></a></li>
            }

        }

    }
}


<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- Bootstrap 3.3.6 -->

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

    <!-- Font Awesome -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Ionicons -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

    <!-- Theme style -->

    <link rel="stylesheet" href="/dist/css/AdminLTE.min.css">

    <link href="https://kendo.cdn.telerik.com/2017.3.1026/styles/kendo.common-material.min.css" rel="stylesheet">
    <link href="https://kendo.cdn.telerik.com/2017.3.1026/styles/kendo.material.min.css" rel="stylesheet">



    <!-- iCheck for checkboxes and radio inputs -->

    <link rel="stylesheet" href="/plugins/iCheck/all.css">

    <link rel="stylesheet" href="/dist/css/skins/skin-black.min.css">
    <link rel="stylesheet" href="/dist/css/custom.css">
    <link rel="stylesheet" href="/dist/css/default.css">
    <link href="/dist/css/ulDefault.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

    <!-- Notification -->
    <link href="/dist/js/notification/css/ns-style-growl.css" rel="stylesheet" />
    <link href="/dist/js/notification/css/normalize.css" rel="stylesheet" />
    <link href="/dist/js/notification/css/ns-default.css" rel="stylesheet" />

    @RenderSection("css")
</head>

<body class="hold-transition skin-black sidebar-mini">
    <div class="wrapper">



        <!-- Main Header -->
        <header class="main-header">

            <!-- Logo -->
            <a href="/dashboard" class="logo text-left">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <!--        <span class="logo-mini"><b>A</b>LT</span>-->
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><img style="height: 40px;"src="/AMT.png")" alt="AMT"></span>
                @*<span class="logo-lg"><b>@ViewBag.Title</b></span>*@
            </a>

            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                @*<div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <li class=" dropdown messages-menu">
                            <!-- Menu toggle button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope-o"></i>
                                <span class="label label-success">4</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!--                <li class="header">You have 4 messages</li>-->
                                <li>
                                    <!-- inner menu: contains the messages -->
                                    <ul class="menu">
                                        <li>
                                            <!-- start message -->
                                            <a href="#">

                                                <!-- The message -->
                                                <p>INBOX 1</p>
                                            </a>
                                        </li>
                                        <li>
                                            <!-- start message -->
                                            <a href="#">

                                                <!-- The message -->
                                                <p>INBOX 2</p>
                                            </a>
                                        </li>
                                        <li>
                                            <!-- start message -->
                                            <a href="#">

                                                <!-- The message -->
                                                <p>INBOX 3</p>
                                            </a>
                                        </li>
                                        <!-- end message -->
                                    </ul>
                                    <!-- /.menu -->
                                </li>
                                <!--                <li class="footer"><a href="#">See All Messages</a></li>-->
                            </ul>
                        </li>
                        <!-- /.messages-menu -->

                        <!-- Notifications Menu -->
                        <li class="hidden dropdown notifications-menu">
                            <!-- Menu toggle button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning">10</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 10 notifications</li>
                                <li>
                                    <!-- Inner Menu: contains the notifications -->
                                    <ul class="menu">
                                        <li>
                                            <!-- start notification -->
                                            <a href="#">
                                                <i class="fa fa-users text-aqua"></i>5 new members joined today
                                            </a>
                                        </li>
                                        <!-- end notification -->
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>
                        <!-- Tasks Menu -->
                        <li class="hidden dropdown tasks-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-flag-o"></i>
                                <span class="label label-danger">9</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 9 tasks</li>
                                <li>
                                    <!-- Inner menu: contains the tasks -->
                                    <ul class="menu">
                                        <li>
                                            <!-- Task item -->
                                            <a href="#">
                                                <!-- Task title and progress text -->
                                                <h3>Design some buttons
                                            <small class="pull-right">20%</small>
                                                </h3>
                                                <!-- The progress bar -->
                                                <div class="progress xs">
                                                    <!-- Change the css width attribute to simulate progress -->
                                                    <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">20% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- end task item -->
                                    </ul>
                                </li>
                                <li class="footer">
                                    <a href="#">View all tasks</a>
                                </li>
                            </ul>
                        </li>
                        <!-- User Account Menu -->
                        <li class="hidden dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <!-- The user image in the navbar-->
                                *@@*<img src="@(!String.IsNullOrEmpty(User.Photo) ? User.Photo : "/dist/img/no-pp.jpg")" class="user-image" alt="User Image">*@@*
                                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                <span class="hidden-xs">@name</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- The user image in the menu -->
                                <li class="user-header">
                                    @*<img src="@(!String.IsNullOrEmpty(User.Photo) ? User.Photo : "/dist/img/no-pp.jpg")" class="img-circle" alt="User Image">*@@*

                                    <p>
                                        Alexander Pierce - Web Developer
                                    <small>Member since Nov. 2012</small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                    <div class="row">
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Followers</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Sales</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Friends</a>
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="#" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>
                </div>*@
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">

            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">

                <!-- Sidebar user panel (optional) -->
                <div class="user-panel" style="height:60px;">
                    <a class="clearfix" href="/#">
                        @*<div class="pull-left image">
                            <img src="@(!String.IsNullOrEmpty(User.Photo) ? User.Photo : "/dist/img/no-pp.jpg")" class="img-circle" alt="User Image">
                        </div>*@
                        <div class="pull-left info">
                            <h1>@User._name</h1>
                            <!-- Status -->
                            @{
                                                      
                            
                                <!-- <p>@name</p>  -->
                            }
                            <!--            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>-->
                        </div>
                    </a>
                </div>


                <!-- Sidebar Menu -->
                <ul class="sidebar-menu">
                    @{  
                        var tempURL = Request.FilePath;
                        var currentURL = tempURL.Substring(1, tempURL.Length - 1);

                        var parent = Sc_Menu.getParentMenuID(currentURL);
                        var Menu = Sc_Menu.getMenubyLevel(1, GetCurrentRole());

                        foreach (var page in Sc_Menu.getMenubyLevel(1, GetCurrentRole()).Where(item => item.IsHide == null || item.IsHide == false).ToList())
                        {
                        <!--   <li class="header">HEADER</li>-->
                        <!-- Optionally, you can add icons to the links -->
                                                                   
                            var list = Sc_Menu.getMenubyParent(page.MenuID, GetCurrentRole()).Where(item => item.IsHide == null || item.IsHide == false).ToList();
                            if (list.Count > 0)
                            {

                                if (parent.Contains(page.MenuID))
                                {
                        <li class="treeview active">
                            <a href="/#"><i class="fa fa-link"></i><span>@page.Menu</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu menu-open" style="display: block;">
                                @RenderSubMenu(page.MenuID, list)
                            </ul>
                        </li>
                                }
                                else
                                {
                        <li class="treeview">
                            <a href="/#"><i class="fa fa-link"></i><span>@page.Menu</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu ">
                                @RenderSubMenu(page.MenuID, list)
                            </ul>
                        </li>
                                }

                            }
                            else if (page.MenuID == "01-00-00" || page.MenuID == "02-00-00")
                            {
                                continue;
                            }
                            else
                            {
                        <li class="active">
                            <a href="/@page.MenuURL"><span>@page.Menu</span></a>
                        </li>                    
                            }

                        }
                    }
                    <li class="treeview">
                        <a class="logout-button">
                            @using (Html.BeginForm("Logout", "Login"))
                            {
                                <i class="fa fa-sign-out"></i>
                                <input class="logout" type="submit" value="Logout" />
                            }
                        </a>
                    </li>



                </ul>
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>


        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            @RenderBody()

        </div>
        <!-- /.content-wrapper -->

        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="pull-right hidden-xs" hidden>
                Anything you want
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; @DateTime.Now.Year <a href="#">ZanDen Singapore Pte Ltd</a>.</strong> All rights reserved.
        </footer>

        @*<!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Home tab content -->
                <div class="tab-pane active" id="control-sidebar-home-tab">
                    <h3 class="control-sidebar-heading">Recent Activity</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript::;">
                                <i class="menu-icon fa fa-birthday-cake bg-red"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                                    <p>Will be 23 on April 24th</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->

                    <h3 class="control-sidebar-heading">Tasks Progress</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript::;">
                                <h4 class="control-sidebar-subheading">Custom Template Design
                  <span class="pull-right-container">
                      <span class="label label-danger pull-right">70%</span>
                  </span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->

                </div>
                <!-- /.tab-pane -->
                <!-- Stats tab content -->
                <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
                <!-- /.tab-pane -->
                <!-- Settings tab content -->
                <div class="tab-pane" id="control-sidebar-settings-tab">
                    <form method="post">
                        <h3 class="control-sidebar-heading">General Settings</h3>

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Report panel usage
              <input type="checkbox" class="pull-right" checked>
                            </label>

                            <p>
                                Some information about this general settings option
                            </p>
                        </div>
                        <!-- /.form-group -->
                    </form>
                </div>
                <!-- /.tab-pane -->
            </div>
        </aside>
        <!-- /.control-sidebar -->*@
        <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->

    <!-- REQUIRED JS SCRIPTS -->
    <!-- jQuery 2.2.3 -->
    <script src="/plugins/jQuery/jquery-2.2.3.min.js"></script>
    @*    <script src="/dist/js/ajax/jquery-1.12.4.min.js"></script>*@
    <script src="/dist/js/ajax/jquery-migrate-1.4.1.min.js"></script>

    <script src="/dist/js/notification/js/modernizr.custom.js"></script>
    <script src="/dist/js/notification/js/classie.js"></script>
    <script src="/dist/js/notification/js/notificationFx.js"></script>

    <!-- Bootstrap 3.3.6 -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="https://kendo.cdn.telerik.com/2017.3.1026/js/kendo.all.min.js"></script>
    <script src="/dist/js/app.min.js"></script>
    <!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. Slimscroll is required when using the
     fixed layout. -->

    @RenderSection("js")

    <script src="/dist/js/custom.js"></script>

</body>

</html>
