﻿@model UltimoApps.DAL.Sc_Menu

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Master.cshtml";
}

@section css{
    
}

@section js{
    
}

@*<h2>Index : @Model.Menu</h2>*@
<!-- Content Header (Page header) -->
<section class="content-header hidden">
    <h1>Page Header
          <small>Optional description</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Level</a></li>
        <li class="active">Here</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <!-- Your Page Content Here -->
    <div class="row">
        <div class="col-sm-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <div class="box">

                    <div class="box-header ptb-10">
                        <h3 class="text-uppercase">Announcement
                        </h3>
                    </div>

                    <div class="box-body">


                        <div class="carousel-inner">
                            <div class="item active">
                                <span class="tanggal">01/01/2018</span> | <span class="h6">The standard lorem ipsum</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi suscipit assumenda dolorem harum voluptatem omnis eum ea tempore magnam, distinctio, autem rerum cumque ullam eaque, accusamus doloribus sit veniam officiis.</p>
                            </div>
                            <div class="item">
                                <span class="tanggal">01/01/2018</span> | <span class="h6">The standard lorem ipsum</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi suscipit assumenda dolorem harum voluptatem omnis eum ea tempore magnam, distinctio, autem rerum cumque ullam eaque, accusamus doloribus sit veniam officiis.</p>
                            </div>
                            <div class="item">
                                <span class="tanggal">01/01/2018</span> | <span class="h6">The standard lorem ipsum</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi suscipit assumenda dolorem harum voluptatem omnis eum ea tempore magnam, distinctio, autem rerum cumque ullam eaque, accusamus doloribus sit veniam officiis.</p>
                            </div>
                        </div>
                        <!--<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>-->


                    </div>



                    <div class="box-footer">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3 pr-0">
            <div class="box">
                <div class="box-header border-bottom pb-10 mb-10 uppercase">
                    <h3>Treaty</h3>
                </div>
                <div class="box-body">
                    <p class="tanggal">01/01/2018</p>
                    <h6 class="pb-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe inventore quos sunt voluptates non voluptatum optio debitis aliquam asperiores sequi eveniet incidunt, quo, vero molestiae, vel corrupti tempore ipsam atque.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe inventore quos sunt voluptates non voluptatum optio debitis aliquam asperiores sequi eveniet incidunt, quo, vero molestiae, vel corrupti tempore ipsam atque.</p>
                    <p>Saepe inventore quos sunt voluptates non voluptatum optio debitis aliquam asperiores sequi eveniet incidunt, quo, vero molestiae, vel corrupti tempore ipsam atque.</p>
                    <br>
                    <a href="#" class="btn btn-block btn-success uppercase">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-sm-9 pl-0">
            <div class="col-sm-4 pr-0">
                <div class="box">
                    <div class="box-header border-bottom pb-10 mb-10 uppercase">
                        <h3>Falculative</h3>
                    </div>
                    <div class="box-body">
                        <p class="tanggal">01/01/2018</p>
                        <h6 class="pb-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe consectetur adipisicing elit. Saepe </p>
                        <br>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 pr-0">
                <div class="box">
                    <div class="box-header border-bottom pb-10 mb-10 uppercase">
                        <h3>Claim</h3>
                    </div>
                    <div class="box-body">
                        <p class="tanggal">01/01/2018</p>
                        <h6 class="pb-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe consectetur adipisicing elit. Saepe </p>
                        <br>
                        <a href="#" class="btn btn-block btn-default uppercase">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="box">
                    <div class="box-header border-bottom pb-10 mb-10 uppercase">
                        <h3>Payment</h3>
                    </div>
                    <div class="box-body">
                        <p class="tanggal">01/01/2018</p>
                        <h6 class="pb-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe consectetur adipisicing elit. Saepe </p>
                        <br>
                        <a href="#" class="btn btn-block btn-default uppercase">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 pr-0">
                <div class="box">
                    <div class="box-header border-bottom pb-10 mb-10 uppercase">
                        <h3>Ticket</h3>
                    </div>
                    <div class="box-body">
                        <p class="tanggal">01/01/2018</p>
                        <h6 class="pb-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe consectetur adipisicing elit. Saepe </p>
                        <br>
                        <a href="#" class="btn btn-block btn-default uppercase">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="box">
                    <div class="box-header border-bottom pb-10 mb-10 uppercase">
                        <h3>Learning Center</h3>
                    </div>
                    <div class="box-body">
                        <p class="tanggal">01/01/2018</p>
                        <h6 class="pb-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe consectetur adipisicing elit. Saepe </p>
                        <br>
                        <a href="#" class="btn pull-right btn-default uppercase">Read More</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>
<!-- /.content -->



